@import "../../../styles/base";

.ContactUs {
	@include media-breakpoint-up(md) {
		margin-bottom: 90px;
	}

	@include media-breakpoint-down(sm) {
		margin-bottom: 70px;
	}

  .contactsWrap {
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

    @include clearfix;

		.title {
			color: #4e4e4e;

			@include media-breakpoint-up(lg) {
				margin-bottom: 60px;
				font-size: 26px;
			}

			@include media-breakpoint-between(sm, md) {
				margin-bottom: 40px;
				font-size: 24px;
			}

			@include media-breakpoint-down(xs) {
				margin-bottom: 25px;
				font-size: 22px;
			}
		}

    .contactCol {
			color: #5b5b5b;
			font-size: 16px;
			font-weight: 400;

			.infoWrap {
				margin-bottom: 30px;
				line-height: 36px;
			}

			.list {
				list-style: none;
				padding-left: 0;

				li {
					margin-bottom: 10px;
				}

				a {
					@include link-variant($brandRed);

					> * {
						display: inline-block;
						line-height: 20px;
						vertical-align: middle;
					}

					svg {
						width: 20px;
						height: 20px;
						margin-right: 20px;
						fill: $brandRed;
					}
				}
			}
    }
  }
}
