@import "../../../styles/base";

.supportPageWrap {
  @include dashboardPageWrapStyle();

  padding-top: 50px;

  @include media-breakpoint-down(xs) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .confirmBtn {
    @include btn;
    @include button-variant(#fff, $brandRed, $brandRed);
    @include borderedBtn($brandRed);
    @include button-size(20px, 30px, 14px, 14px, 6px);
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
  }
}

.supportBlockWrap {
	@include media-breakpoint-up(md) {
		margin-bottom: 90px;
	}

	@include media-breakpoint-down(sm) {
		margin-bottom: 70px;
	}
}

.row {
  margin-bottom: 20px;
}

.dropZone {
  margin: 30px auto 30px;
  text-align: center;
  cursor: pointer;
  width: 100%;
	font-size: 14px;
	font-weight: 300;
	color: #797979;
	padding: 20px;
	line-height: 20px;
	height: initial;
	border-radius: 6px;
	border: 1px dashed #b7b7b7;
	background-color: #f5f5f5;

	span {
		b {
			color: #303030;
			font-weight: 300;
			text-decoration: underline;
		}
	}

	@include media-breakpoint-down(sm) {
		max-width: 460px;
	}
}

.title {
  color: #4e4e4e;
	font-weight: 400;

  @include media-breakpoint-up(lg) {
    margin-bottom: 60px;
    font-size: 26px;
  }

  @include media-breakpoint-between(sm, md) {
    margin-bottom: 40px;
    font-size: 24px;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 25px;
    font-size: 22px;
  }
}

.modal {
  text-align: center;

  .title {
    color: #4e4e4e;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 40px;
  }

  .infoText {
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
  }

  .modalBody {
    text-align: center;
  }

  .imageWrap {
    margin-bottom: 50px;

    svg {
      width: 135px;
      height: 175px;
    }
  }

  .closeModalBtn {
    @include media-breakpoint-up(sm) {
      display: none;
    }

    @include media-breakpoint-down(xs) {
      @include modal-close-btn;
    }
  }

  .modalBody {
    max-width: 350px;
    margin: 0 auto;
    padding: 40px 10px;
  }

}

.showMoreLink {
  color: $brandRed;
  font-size: 18px;
  font-weight: 400;
}

.phoneWrap {
  margin-bottom: 30px;
  text-decoration: none;

  .title {
    margin-bottom: 20px;
		color: #5b5b5b;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
  }

  a {
		display: inline-block;
    @include link-variant($brandRed);
		font-size: 18px;
		font-weight: 400;
		position: relative;

		padding-left: 25px;

    svg {
      width: 20px;
      height: 20px;
      fill: #acacac;

			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
    }
  }
}

.buttonsWrap {
  @include clearfix;

  >* {
    float: left;
    width: 50%;
  }

  .loginBtn {
    @include button-variant(#fff, #2acdc9, #69DAD7);
    @include button-size(0, 0, 14px, 50px, 6px);
    @include borderedBtn(#11a788);
  }

  .noThanksBtn {
    @include button-size(0, 0, 14px, 50px, 6px);

    &, &:hover, &:focus {
      background-color: transparent;
      border: none;
    }
  }

  .loginBtn, .noThanksBtn {
    max-width: 145px;
    margin: 0 auto;
    cursor: pointer;
  }
}

.captchaWrap {
  div {
    margin: 0 auto;
  }
}

.hiddenTooltip {
  display: none !important;
}

.showTooltip {
  display: block !important;
}
