@import "../../../../../../../styles/base";

.filterBlock {
  background-color: #fff;
  text-align: left;

  @include media-breakpoint-up(md) {
    padding: 15px;
  }

  .rangeBlock {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 0 0 10px;
  }

  .resetBtnWrap {
    @include flex();
    align-items: center;
    justify-content: space-between;

    .resetBtn {
      @include resetBtn;
    }
  }

  .timeFilters {
    @include flex;
    align-items: center;
    justify-content: space-between;

    .filterToggle {
      @include flex;

      .toggleElement {
        padding: 3px 5px;
        cursor: pointer;
        font-size: 10px;
        line-height: 12px;
        @include button-variant($brandGrayLighter, #fff, $brandGrayMercury);

        &.selected {
          @include button-variant(#fff, $brandBlueLight, $brandBlueLight);
        }

        &:first-of-type {
          @include border-left-radius(3px);
          @include border-right-radius(0);
        }

        &:last-of-type {
          @include border-right-radius(3px);
          @include border-left-radius(0);
        }
      }
    }

    .previewResults {
      font-size: 10px;
      font-weight: 400;
      color: $brandGreenDark;
      line-height: 18px;
    }
  }
}
