@import "../../styles/base";

.dropdownWrap {
  :global {
    .dropdown {

      .dropdown__trigger {
        @include link-variant($brandBlueLight);
        display: inline-block;
        position: relative;
        transition: color .3s ease;
        border: 1px solid $brandGrayMercury;
        border-radius: 3px;
        background-color: #fff;
        padding: 10px 50px 10px 15px;

        font-size: 14px;
        font-weight: 400;

        &:before {
          @include pseudo();
          @include position(absolute, top 0 right 35px);
          height: 100%;
          width: 1px;
          background-color: $brandGrayMercury;
        }

        i {
          @include position(absolute, top 50% right 12px);
          display: inline-flex;
          transform: translateY(-50%) rotate(90deg);
          transition: all .15s linear;
          svg {
            width: 10px;
            height: 10px;
            fill: $brandGrayDarker;
          }
        }
      }

      .dropdown__content {
        background-color: #fff;
        position: absolute;
        top: 100%;
        z-index: 2;
        min-width: 100%;
        display: none;
        width: auto;
        max-width: none;

        border-radius: 3px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        border: 1px solid $brandGrayMercury;
        overflow: hidden;
        text-align: center;
        color: #424242;

        @include media-breakpoint-up(sm) {

          left: -40px;
        }

        @include media-breakpoint-down(xs) {
          @include border-top-radius(0);
          left: 0;
        }
      }

      &.dropdown--active {
        .dropdown__trigger {
          i {
            transform: translateY(-50%) rotate(-90deg) scale(1, -1);
          }
        }

        .dropdown__content {
          display: inline-block
        }
      }
    }
  }

  &.disabled {
    :global {
      .dropdown {
        .dropdown__trigger {
          @include link-variant(#acacac, #acacac, false, not-allowed);
          cursor: not-allowed !important;
          opacity: .65;

          &, &:hover {
            svg {
              fill: #acacac;
            }
          }
        }

        .dropdown__content {
          z-index: 4;
        }
      }
    }
  }

  &.changed {
    :global {
      .dropdown__trigger {
        @include link-variant($brandGreenDark, $brandGreenDark);

        svg {
          fill: $brandGreenDark;
        }
      }
    }
  }
}

