@import "../../../../styles/base";

.checkoutModal {
  :global {
    .modal-dialog {
      left: 50%;
      top: 50%;
      bottom: auto;
      transform: translate(-50%, -50%) !important;
      max-width: 900px;
      width: 100%;
    }
  }
}

.modalBody {
  padding: 0;
  text-align: center;
}

.title {
  color: #3f3f3f;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1;
}

.contentWrap {
  padding-left: 15px;
  padding-right: 15px;
}


.subTitle {
  color: #aeaeae;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.imgWrap {
  width: 155px;
  height: 70px;
  position: relative;
  margin: 30px auto;

  svg, img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 155px;
    //height: 70px;
    margin: 0 auto;
    transform: translate(-50%, -50%);
  }
}

.ticketsWrap {
  max-height: 410px;
  overflow-x: auto;
}

.button {
  @include custom-button;
  @include button-lg;
  min-width: 250px;
  margin-bottom: 25px;
}

.priceWrap {
  margin-bottom: 15px;

  >* {
    display: block;
    line-height: 1;
  }

  .oldPrice {
    opacity: 0.5;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
    margin-bottom: 5px;
  }

  .newPrice {
    color: #2acdca;
    font-size: 30px;
    font-weight: 700;
  }
}

.otherTicketsList {
  .listTitle {
    display: block;
    background-color: #f7f7f7;
    font-size: 16px;
    font-weight: 400;
    color: #3f3f3f;
    padding: 20px 25px;
    text-align: left;
    margin: 0;
    position: relative;
    z-index: 5  ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);

    span {
      color: $brandBlueLight;
    }
  }
}

.tripWrap {
  border-bottom: 2px solid #f4f4f4;
}

.showMoreBtn {
  @include btn;
  @include button-variant($brandBlueLight, #f5f5f5, #f7f7f7);
  @include button-size(20px, 10px, 14px, 14px, 6px);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-width: 2px;
  width: 100%;

  &:hover, &:focus, &:active {
    background-color: #f5f5f5;
    box-shadow: none;
    border-color: #f7f7f7;
    color: darken($brandBlueLight, 10%);
  }
}

.noTickets {
  text-align: center;
  color: $brandGray;
  background-color: #F6F6F6;
  padding: 50px 20px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;

  span {
    display: block;
    margin-bottom: 15px;
  }

  a {
    @include link-variant($brandRed);

    >* {
      line-height: 20px;
      vertical-align: middle;
      display: inline-block;
    }

    span {
      margin-bottom: 0;
    }

    svg {
      width: 15px;
      height: 15px;
      fill: $brandRed;
      margin-left: 5px;
    }
  }
}
