@import "../../../../../styles/base";

.conformationForm {

  .title {
    font-size: 18px;
    font-weight: 400;
    color: $brandGrayCarbon;
    margin: 0 0 25px;
  }

  .subtitle{
    font-size: 16px;
    font-weight: 400;
    color: $brandGrayCarbon;
    margin: 0 0 20px;
  }

  .listTitle {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: $brandGrayCarbon;
    margin-bottom: 15px;

    .link {
      position: relative;
      padding-right: 60px;
      @include link-variant($brandBlueLight);

      .logo {
        @include position(absolute, top 50% right 0);
        transform: translateY(-50%);
        width: 50px;
        height: auto;
      }
    }
  }

  .warning {
    margin-bottom: 0;
  }

  .checkboxWrap {
    margin-bottom: 40px;
  }

  .featuresList {
    @include list-unstyled;
    margin: 0 0 20px;

    .listItem {
      position: relative;
      padding-left: 35px;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      color: $brandGrayLighter;

      &:before {
        @include pseudo();
        @include position(absolute, top 0 left 0);
        width: 16px;
        height: 30px;
        background-image: url(./../assets/checkmark.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  .formTable {
    @include media-breakpoint-up(sm) {
      display: table;
    }
    margin-bottom: 30px;

    .fieldRow {
      @include media-breakpoint-up(sm) {
        display: table-row;
      }
      @include media-breakpoint-down(xs) {
        margin-bottom: 10px;
      }

      .labelCol, .fieldCol {
        @include media-breakpoint-up(sm) {
          display: table-cell;
          padding-bottom: 10px;
          vertical-align: middle;
        }
      }

      .labelCol {
        @include media-breakpoint-up(sm) {
          text-align: right;
        }

        label {
          cursor: pointer;
          font-weight: 400;


          @include media-breakpoint-up(sm) {
            margin: 0;
            font-size: 16px;
          }
          @include media-breakpoint-down(xs) {
            margin: 0 0 5px;
            font-size: 12px;

          }
        }
      }

      .fieldCol {
        @include media-breakpoint-up(sm) {
          padding-left: 25px;
        }
      }
    }
  }
}

.tooltipWraper {
  margin-left: 120px;
}
