@import "../../../styles/base";

.ticketWrap {
  padding: 15px;
  //max-width: 350px;
  margin: 0 auto;

  &.expended {
    padding-bottom: 30px;
  }

  .ticketHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    >* {
      min-width: 0;
    }

    .logosWrap {

      @include media-breakpoint-up(sm) {
        margin-right: 15px;
      }

      @include media-breakpoint-down(xs) {
        margin-right: 10px;
      }

      img, svg {
        width: 20px;
        height: auto;

        &:not(:last-child) {
          margin-right: 4px;
        }
      }
    }
  }

  .airlineName {
    color: #9b9b9b;
    font-size: 12px;
    font-weight: 300;
  }

  .airlines {
    display: flex;
    align-items: center;

    >* {
      min-width: 0;
    }
  }

  .price {
    color: #31393c;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

    .cost {
      font-size: 14px;
      font-weight: 700;
      color: #299def;
    }
  }
}

.table {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #31393c;

  .tripWrap {

    td {
      padding-top: 4px;
      padding-bottom: 4px;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }

    .code {
      text-transform: uppercase;
      font-weight: 300;
    }

    .time {
      font-weight: 700;
      color: #133c55;
    }

    .layover {
      width: 65px;

      .layoverBlock {
        position: relative;
        z-index: 0;
        height: 8px;
        width: 55px;
        margin: 0 auto;

        .line, &:after, &:before {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          content: '';
        }

        .line {
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #979797;
        }

        &:after, &:before {
          width: 6px;
          height: 6px;
          border-radius: 100%;
          border: 1px solid #133c55;
          background-color: #fff;
          z-index: 10;
        }

        &:after {
          left: 0;
        }

        &:before {
          right: 0;
        }

        .layoverCount {
          position: absolute;
          display: block;
          background-color: #fff;
          z-index: 1;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          min-width: 11px;
          padding-left: 2px;
          padding-right: 2px;
          color: #31393c;
          font-size: 14px;
          line-height: 1;
          font-weight: 300;
          padding-bottom: 2.5px;
        }
      }
    }

    .total {
      color: #299def;
      font-weight: 400;
    }
  }
}

