@import '../../styles/base';

.displayWrap {
  width: 100%;
  position: relative;
  padding-bottom: 25px;

  .shortFlightBlock {
    width: 100%;
    display: flex;
    position: relative;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 -3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background-color: #fff;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      //padding-bottom: 25px;
    }

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }

    > * {
      min-width: 0;

      @include media-breakpoint-up(sm) {
        flex: 0 0 50%;
      }
    }
  }
}

@mixin divider-style {
  display: block;
  @include media-breakpoint-up(md) {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    border-right: 2px dashed #2acdc9;

    &:after, &:before {
      position: absolute;
      content: '';
      left: 0;
      width: 2px;
      height: 50px;
    }

    &:before {
      background: linear-gradient(to top, #fff 0%, transparent 100%);
      bottom: 0;
    }

    &:after {
      background: linear-gradient(to bottom, #fff 0%, transparent 100%);
      top: 0;
    }
  }
}


.outbound {
  .tripDisplayWrap {
    .divider {
      @include divider-style;
      right: 0;
    }
  }
}

.expandedElementsWrap {
  @include clearfix;
  position: relative;

  .divider {
    @include divider-style;
    right: 50%;
  }

  .expandDescriptionWrap {
    display: block;

    @include media-breakpoint-up(md) {
      float: left;
      width: 50%;
    }
  }
}

.expandDescriptionWrap {
  position: relative;
  border-top: 2px solid #f4f4f4;
  padding: 30px 30px 10px;

  .divider {
    display: none;
  }
}
