@import "../../../../../../../styles/base";

.paybackFilter {
  .content {
    padding: 15px 15px 10px;
    background-color: #fff;

    .label {
      font-size: 14px;
      font-weight: 400;
      color: $brandGreenDark;
      margin-bottom: 10px;
    }
    .monthList {
      @include list-unstyled;
      @include flex;
      margin: 0;
      padding-bottom: 35px;

      .monthItem {
        @include inline-flex();
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        flex: 0 0 28px;
        border: 1px solid $brandGrayMercury;
        border-radius: 3px;
        background-color: #fff;
        cursor: pointer;

        color: $brandGreenDark;
        font-size: 14px;
        font-weight: 400;
        text-align: center;

        @include hover-focus {
          background-color: #f5f5f5;
        }

        &.selected {
          background-color: $brandGreenDark;
          border-color: $brandGreenDark;

          color: #fff;
        }

        &.popular {
          border: 1px solid $brandGold;
          position: relative;
        }

        .popularLabel {
          position: absolute;
          bottom: -30px;
          left: 50%;
          transform: translateX(-50%);
          min-width: 90px;
          color: $brandGreenDark;

          &:before {
            @include pseudo();
            @include css-triangle(#000, up);
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }

  .footer {
    padding: 10px 20px;
    background-color: #f7f7f7;
    text-align: right;

    .footerImg {
      max-width: 50px;
      height: auto;
    }

    .label {
      font-size: 10px;
      font-weight: 400;
      color: $brandGreenDark;
      padding-right: 5px;
    }
  }
}
