@import "../../../../../../styles/base";

.searchResultsPage {
	background-color: $brandGrayLightest;
	text-align: center;
	position: relative;

	@include media-breakpoint-up(sm) {
		padding-top: 30px;
		padding-bottom: 60px;
		margin-bottom: -60px;
	}

	@include media-breakpoint-down(xs) {
		padding: 10px 5px 80px;
		margin-bottom: -60px;
	}

	.sortRow {
		background-color: #fff;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
		text-align: left;

		@include media-breakpoint-up(sm) {
			margin-bottom: 30px;
		}

		.title {
			color: $brandGrayStandard;
			font-size: 14px;
			font-weight: 300;
			padding-left: 12px;

			>* {
				display: inline-block;
				line-height: 15px;
				vertical-align: middle;
			}

			svg {
				width: 13px;
				height: 13px;
				margin-right: 10px;
				fill: #d8d8d8;
			}
		}

		.filtersWrap {
			padding: 20px 15px;

			ul {
				list-style: none;
				padding-left: 0;

				li {
					display: inline-block;
					margin-right: 10px;
				}

				.sortBtn {
					position: relative;
					@include btn;
					@include button-variant(#acacac, transparent, transparent);
					@include button-size(15px, 10px, 14px, 14px, 0);
					border-radius: 0 !important;
					box-shadow: none !important;
					text-transform: uppercase;

					&:after {
						position: absolute;
						content: '';
						bottom: 0;
						left: 0;
						width: 100%;
						height: 2px;
						background-color: $brandRed;
						opacity: 0;
						transition: all .3s ease;
					}

					&.active, &:hover {
						@include button-variant($brandRed, transparent, transparent);

						&:after {
							opacity: 1;
						}
					}
				}
			}
		}
	}


	.sortBtn {
		padding: 20px 5px;

		button {
			margin-right: 25px;
			float: left;
			font-size: 16px;
			padding: 20px;
			text-align: center;

			@media (max-width: 500px) {
				width: 100%;
				margin-bottom: 10px;
				text-align: left;
			}

			p {
				font-weight: 400;
			}

			p:first-child {
				margin-bottom: 5px;
			}

			p:last-child {
				margin-bottom: 0;
			}
		}

		.sortType {
			font-weight: 700;
		}

		.sortValue {
			font-weight: 400;
		}
	}

	.tripDescriptionWrap {
		@include media-breakpoint-up(sm) {
			margin-bottom: 20px;
		}
		@include media-breakpoint-down(xs) {
			margin-bottom: 10px;
		}
	}

	.scrollBtn {
		position: fixed;
		right: 10px;
		bottom: 40px;
		cursor: pointer;
		z-index: 2;
		border-radius: 50%;
		@include button-variant(#fff, $brandRed, $brandRed);
		height: 0;
		width: 0;
		border: 0;
		overflow: hidden;
		transition: all .3s ease;

		&.visible {
			height: 40px;
			width: 40px;
			opacity: 1;
			bottom: 10px;

			@include media-breakpoint-down(xs) {
				height: 0;
				width: 0;
			}
		}

		&.down {
			transform: rotate(180deg);
		}

		svg {
			position: absolute;
			padding: 5px;
			width: 20px;
			height: 20px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.ticketsList {
		min-height: 200px;
	}

	.showMoreBlock {
		.showMoreMessage {
			font-size: 12px;
			line-height: 20px;
			font-weight: 400;
			color: $brandGrayLighter;

			@include media-breakpoint-up(md) {
				margin: 30px 0;
			}
			@include media-breakpoint-down(sm) {
				margin: 20px 0;
			}

			span {
				display: inline-block;
				position: relative;
				padding-left: 15px;

				.iconWrap {
					@include position(absolute, top 0 left 0);
					svg {
						fill: $brandGrayLighter;
						width: 20px;
						height: 20px;
					}
				}
			}

			.link {
				@include link-variant($brandBlueLight);
				padding-left: 10px;
			}
		}
		.showMoreBtn {
			@include custom-button;
			@include button-lg;
			@include media-breakpoint-up(sm) {
				min-width: 440px;
			}
			@include media-breakpoint-down(xs) {
				width: 100%;
			}
		}
	}
}

.smallMargin {
	margin-top: 0px !important;
}