@import "../../../styles/base";

.waitPanelWrap {
  display: flex;
	padding-left: 75px;
  margin: 15px 0;

  @include media-breakpoint-down(xs) {
    margin: 10px 0;
  }

  >* {
    min-width: 0;
  }

  .iconWrap {
    flex: 0 0 21px;
    text-align: center;
    margin-right: 10px;

    svg, img {
      width: 16px;
      height: 16px;
      fill: #4e4e4e;
    }
  }

  .time {
    flex: 1 1 auto;
    text-align: left;
		font-size: 12px;
		color: #4e4e4e;
		font-weight: 500;
  }
}
