@import "../../../../../../../styles/base";

.filterBlock {
  .list {
    @include list-unstyled;
    margin: 0;
  }

  .listItem {
    position: relative;
    padding: 8px 20px;
    width: 100%;
    cursor: pointer;
    background-color: #fff;

    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: $brandBlueLight;
    text-align: left;

    @include media-breakpoint-down(sm) {
      padding: 8px 10px;
      border: 1px solid transparent;

      @include hover-focus {
        border: 1px solid $brandGrayMercury;
      }
    }

    @include hover-focus {
      background-color: #f5f5f5;
    }

    &.selected {
      color: $brandBlueDarkest;
    }
  }
}
