@import "../../../styles/base";

.payment {
  margin: 0 auto;

  @include media-breakpoint-down(xs) {
    width: 100%;
  }

  .btnGroup {
    padding: 10px;
    position: relative;
    font-size: 11px;
    border-bottom: 1px solid #dee2e9;
    max-width: 100%;

    a {
      @include link-variant(#757575);
    }
  }

  .info {
    line-height: 35px;

    @include media-breakpoint-down(xs) {
      display: flex;
      align-items: center;
      padding: 20px 15px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
      background-color: #fafafa;

      > * {
        flex: 1 1 auto;
        text-align: center;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }

      button {
        text-transform: uppercase;
        font-size: 14px;
      }
    }

    .number {
      position: relative;
      display: inline-block;
      color: #058;
      font-size: 36px;
      font-weight: 400;
      line-height: 52px;

      @include media-breakpoint-down(xs) {
        font-size: 25px;
      }

      .decimal {
        position: absolute;
        left: 100%;
        top: 2px;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
      }

      .period {
        display: none;
        @include media-breakpoint-down(xs) {
          display: inline-block;
          font-size: 14px;
          line-height: 20px;
          font-weight: 300;
          color: #31393c;
        }
      }
    }

    .month {
      color: #9b9b9b;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      font-weight: 300;
      margin-bottom: 10px;

      @include media-breakpoint-down(xs) {
        display: none;
      }
    }

    .priceWarning {
      position: relative;
      padding-left: 15px;

      font-size: 12px;
      line-height: 14px;
      font-weight: 300;
      color: #9b9b9b;
      margin-bottom: 20px;

      @include media-breakpoint-down(xs) {
        display: none;
      }

      .iconWrap {
        position: absolute;
        top: 1px;
        left: 0;

        i {
          display: inline-flex;
          svg {
            fill: #9b9b9b;
            width: 12px;
            height: 12px;
          }
        }
      }
    }

    .select {
      @include custom-button-green;
      @include button-lg;
      @include media-breakpoint-up(sm) {
        width: 150px;
      }
      @include media-breakpoint-down(xs) {
        width: 80px;
      }
    }

    .payBtn {
      margin-bottom: 10px;
    }

    .detailsLink {
      @include link-variant(#616161);
      text-decoration: underline;
      font-size: 12px;
      cursor: pointer;
    }

    .monthGroup {
      border-top: 1px solid #dee2e9;
      border-bottom: 1px solid #dee2e9;
    }
  }

  .totalPrice {
    margin-top: 15px;
    color: #0780c3;

    .price {
      color: #2089c7;
      font-size: 15px;
      font-weight: 700;
    }
  }
}

.shareLink {
  span {
    vertical-align: middle;
    line-height: 10px;
    display: inline-block;
    svg {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }
}
