@import "../../../../../../../styles/base";

.filterBlock {
  background-color: #fff;
  text-align: left;

  @include media-breakpoint-up(md) {
    padding: 15px;
  }

  .rangeBlock {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 0 0 10px;
  }
}
