@import "../../../styles/base";

.tripWrap {
  @include flex;
  align-items: center;

  .airportCode {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    color: #31393c;
  }

  .wayDirection {
    position: relative;
    flex: 1 1 auto;
    padding: 0 15px;

    .changing {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      font-size: 12px;
      font-weight: 400;

      .changingCount {
        color: #31393c;
      }
      .direct {
        color: #00ebba;
      }
    }

    .totalTime {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      font-size: 12px;
      font-weight: 400;
      color: #299def;
    }
  }
}
