@import "../../../../../../styles/base";

.sortRow {
  background-color: $brandGrayLightest;

  .sortElementsWrap {
    padding: 20px 0 10px;

    .filtersWrap {
      @include clearfix;

      .filtersList {
        @include list-unstyled;
        display: inline-block;
        float: right;
        margin: 0;

        .listItem {
          display: inline-block;
          user-select: none;

          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }

      .filterDropdown {
        cursor: 'pointer';
        position: relative;
        z-index: 5;

        .dropdownContentLeft {
          left: 0;
          right: auto;
        }
        .dropdownContentRight {
          right: 0;
          left: auto;
        }
      }

      .paybackFilterWrap {
        float: left;

        .paybackBackground > div > a {
          background-color: #fee443 !important;
        }
      }
    }
  }

  &.mobile {
    .sortElementsWrap {
      position: relative;
      padding: 20px 5px 10px;

      .filtersContainer {
        @include flex();
        align-items: center;
        justify-content: space-between;

        .paybackBackground > div > a {
          background-color: #fee443 !important;
        }
      }

      .openModal {
        @include link-variant($brandBlueLight);
        position: relative;
        cursor: 'pointer';
        padding-right: 20px;
        font-size: 14px;
        font-weight: 400;
        height: 20px;

        .iconWrap {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);

          i {
            display: inline-flex;
            svg {
              width: 10px;
              height: 12px;
              fill: $brandBlueLight;
            }
          }
        }
      }
    }
  }
}
