@import "../../../styles/base";

.flightWrap {
  display: flex;
  align-items: flex-start;
  color: #4e4e4e;
  font-size: 14px;
  font-weight: 600;
	margin-bottom: 15px;

  @include media-breakpoint-down(xs) {
    margin-bottom: 10px;
  }

  >* {
    min-width: 0;
    line-height: 15px;
    vertical-align: middle;
  }

  &.compact {
    .dateDesktop {
      display: none;
    }

    .infoWrap {
      .date {
        @include media-breakpoint-up(md) {
          display: block;
        }
      }
    }
  }

	.dotWrap {
		flex: 0 0 26px;
		position: relative;
		z-index: 3;
		display: block;

    .dot {
      width: 6px;
      height: 6px;
      border: 1px solid #133c55;
      background-color: #fff;
      border-radius: 100%;
      margin: 6px auto 0;
    }
	}

  .infoWrap {
    flex: 0 0 45px;

    @include media-breakpoint-down(xs) {
      position: relative;
      top: -5px;
    }

    .date {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }

  .time {
    position: relative;
    text-align: center;
    background-color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #133c55;
  }

  .airport {
    flex: 1 1 auto;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #31393c;
  }

  .date {
    font-size: 14px;
    color: #9b9b9b;
    font-weight: 300;

    @include media-breakpoint-down(xs) {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .dateDesktop {
    @include media-breakpoint-down(sm) {
      display: none;
    }

    @include media-breakpoint-up(md) {
      flex: 0 0 50px;
      margin-left: 10px;
      text-align: right;
    }
  }
}
