@import "../../../../../styles/base";

.checkoutForm {
  .bookerInfo {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
  }

  .formTable {
    @include media-breakpoint-up(sm) {
      display: table;
    }

    .fieldRow {
      @include media-breakpoint-up(sm) {
        display: table-row;
      }
      @include media-breakpoint-down(xs) {
        margin-bottom: 10px;
      }

      .labelCol, .fieldCol {
        @include media-breakpoint-up(sm) {
          display: table-cell;
          padding-bottom: 10px;
          vertical-align: middle;
        }
      }

      .labelCol {
        @include media-breakpoint-up(md) {
          min-width: 135px;
        }
        @include media-breakpoint-up(sm) {
          text-align: right;
        }

        label {
          cursor: pointer;
          font-weight: 400;

          @include media-breakpoint-up(sm) {
            margin: 0;
            font-size: 16px;
          }
          @include media-breakpoint-down(xs) {
            margin: 0 0 5px;
            font-size: 12px;

          }
        }
      }

      .fieldCol {
        @include media-breakpoint-up(sm) {
          padding-left: 25px;
        }
      }
    }
  }
}

.baggageTitle {
  margin: 30px 0 !important;
}

.baggage {
  @include flex(row, column, flex-start, wrap);
  padding: 15px;
  border: 1px solid $brandGrayMercury;
  border-radius: 3px;
  background-color: #fff;

  &:not(:first-child) {
    margin-bottom: 15px;
  }

  &.checked {
    background-color: $brandRedLightest;

    .baggageLabel {
      font-weight: 500;
    }
  }

  .baggageLabel {
    flex: 0 1 300px;
    position: relative;
    font-size: 16px;
    line-height: 46px;
    font-weight: 400;
    color: $brandGreenDark;
    padding-left: 25px;

    .iconWrap {
      @include inline-flex();
      @include position(absolute, top 50% left 0);
      transform: translateY(-50%);
      svg {
        //fill: $brandBlueLight;
        width: 20px;
        height: 20px;
      }
    }
  }

  .info {
    flex: 1 1 280px;
    @include flex(row, center, space-between, wrap);
  }
  .baggageSize {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: $brandGrayCarbon;
    padding-right: 20px;
  }
  .baggagePrice {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .greenText {
    color: $brandLightGreen;
    float: right;
  }
  .blueText {
    color: $brandBlueLight;
    position: relative;
  }
}

.addPasssengerWrap {
  margin-bottom: 40px;
  text-align: center;

  .addPassengerBtn {
    @include link-variant($brandBlueLight);
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
  }
}

.pointer {
  cursor: pointer;
}

.verifiedMessage {
  position: relative;
  display: inline-block;
  padding-left: 25px;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $brandGrayLighter;

  .icon {
    @include inline-flex();
    @include position(absolute, top 50% left 0);
    transform: translateY(-50%);
    svg {
      height: 16px;
      width: 16px;
      fill: $brandLightGreen;
    }
  }
}

.loaderSpinner {
  color: transparentize($brandBlueLight, .4);
  font-size: 20px;
  margin: 30px auto;
  width: .5em;
  height: .5em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: load4 1.3s infinite linear;
  transform: translateZ(0);

  $dotSize: 8px;

  $dotSizeXS: -3 * $dotSize;
  $dotSizeSM: -2 * $dotSize;
  $dotSizeMD: -1 * $dotSize;
  $dotSizeMD2: -0.5 * $dotSize;
  $dorSizeLG: 0.2 * $dotSize;
  $dorSizeXL: 2 * $dotSize;
  $dorSizeXXL: 3 * $dotSize;

  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 $dotSizeXS 0 $dorSizeLG,
      $dorSizeXL $dotSizeSM 0 0,
      $dorSizeXXL 0 0 $dotSizeMD,
      $dorSizeXL $dorSizeXL 0 $dotSizeMD,
      0 $dorSizeXXL 0 $dotSizeMD,
      $dotSizeSM $dorSizeXL 0 $dotSizeMD,
      $dotSizeXS 0 0 $dotSizeMD,
      $dotSizeSM $dotSizeSM 0 0;
    }
    12.5% {
      box-shadow: 0 $dotSizeXS 0 0,
      $dorSizeXL $dotSizeSM 0 $dorSizeLG,
      $dorSizeXXL 0 0 0,
      $dorSizeXL $dorSizeXL 0 $dotSizeMD,
      0 $dorSizeXXL 0 $dotSizeMD,
      $dotSizeSM $dorSizeXL 0 $dotSizeMD,
      $dotSizeXS 0 0 $dotSizeMD,
      $dotSizeSM $dotSizeSM 0 $dotSizeMD;
    }
    25% {
      box-shadow: 0 $dotSizeXS 0 $dotSizeMD2,
      $dorSizeXL $dotSizeSM 0 0,
      $dorSizeXXL 0 0 $dorSizeLG,
      $dorSizeXL $dorSizeXL 0 0,
      0 $dorSizeXXL 0 $dotSizeMD,
      $dotSizeSM $dorSizeXL 0 $dotSizeMD,
      $dotSizeXS 0 0 $dotSizeMD,
      $dotSizeSM $dotSizeSM 0 $dotSizeMD;
    }
    37.5% {
      box-shadow: 0 $dotSizeXS 0 $dotSizeMD,
      $dorSizeXL $dotSizeSM 0 $dotSizeMD,
      $dorSizeXXL 0 0 0,
      $dorSizeXL $dorSizeXL 0 $dorSizeLG,
      0 $dorSizeXXL 0 0,
      $dotSizeSM $dorSizeXL 0 $dotSizeMD,
      $dotSizeXS 0 0 $dotSizeMD,
      $dotSizeSM $dotSizeSM 0 $dotSizeMD;
    }
    50% {
      box-shadow: 0 $dotSizeXS 0 $dotSizeMD,
      $dorSizeXL $dotSizeSM 0 $dotSizeMD,
      $dorSizeXXL 0 0 $dotSizeMD,
      $dorSizeXL $dorSizeXL 0 0,
      0 $dorSizeXXL 0 $dorSizeLG,
      $dotSizeSM $dorSizeXL 0 0,
      $dotSizeXS 0 0 $dotSizeMD,
      $dotSizeSM $dotSizeSM 0 $dotSizeMD;
    }
    62.5% {
      box-shadow: 0 $dotSizeXS 0 $dotSizeMD,
      $dorSizeXL $dotSizeSM 0 $dotSizeMD,
      $dorSizeXXL 0 0 $dotSizeMD,
      $dorSizeXL $dorSizeXL 0 $dotSizeMD,
      0 $dorSizeXXL 0 0,
      $dotSizeSM $dorSizeXL 0 $dorSizeLG,
      $dotSizeXS 0 0 0,
      $dotSizeSM $dotSizeSM 0 $dotSizeMD;
    }
    75% {
      box-shadow: 0 $dotSizeXS 0 $dotSizeMD,
      $dorSizeXL $dotSizeSM 0 $dotSizeMD,
      $dorSizeXXL 0 0 $dotSizeMD,
      $dorSizeXL $dorSizeXL 0 $dotSizeMD,
      0 $dorSizeXXL 0 $dotSizeMD,
      $dotSizeSM $dorSizeXL 0 0,
      $dotSizeXS 0 0 $dorSizeLG,
      $dotSizeSM $dotSizeSM 0 0;
    }
    87.5% {
      box-shadow: 0 $dotSizeXS 0 0,
      $dorSizeXL $dotSizeSM 0 $dotSizeMD,
      $dorSizeXXL 0 0 $dotSizeMD,
      $dorSizeXL $dorSizeXL 0 $dotSizeMD,
      0 $dorSizeXXL 0 $dotSizeMD,
      $dotSizeSM $dorSizeXL 0 0,
      $dotSizeXS 0 0 0,
      $dotSizeSM $dotSizeSM 0 $dorSizeLG;
    }
  }
}

.infoText {
  @include mt(2);
  color: $gray;
  font-weight: 300;
}

.infoSuccessText {
  color: $brand-success;
  display: block;
  font-size: 12px;
  font-weight: 400;
  padding-top: 5px;
  max-width: 320px;
}

.remove {
  color: $brandGray;
  text-align: right;
  font-size: 12px;
  cursor: pointer;
  text-transform: lowercase;
}

.descContainer {
  margin: -11px 0 18px -20px;

  @include media-breakpoint-down(xs) {
    margin: -11px 0 18px 0px !important;
  }
}
