@import "../../../../styles/base";

.baggageModal {
  :global {
    .modal-dialog {
      left: 50%;
      top: 50%;
      bottom: auto;
      transform: translate(-50%, -50%) !important;
      max-width: 480px;
      width: 100%;
    }
  }
}

.modalBody {
  padding: 0;
  text-align: center;
}

.title {
  color: #133c55;
  font-family: Heebo;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 23px;
  margin-top: 47px;
}

.contentWrap {
  padding-left: 15px;
  padding-right: 15px;
}


.subTitle {
  color: #31393c;
  font-family: Heebo;
  font-size: 14px;
  max-width: 250px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  @include custom-button;
  @include button-lg;
  min-width: 250px;
  margin-bottom: 35px;
}

.closeModalBtn {
  position: absolute;
  top: -27px;
  right: 15px;
  cursor: pointer;

  i {
    display: inline-block;
    svg {
      width: 8px;
      height: 8px;
      fill: $brandGrayLighter;
    }
  }
}
