@import "../../../styles/base";

.pageWrap {
  text-align: center;
  background-color: $brandGrayLightest;

  @include media-breakpoint-up(lg) {
    padding-top: 140px;
    padding-bottom: 230px;
  }
  @include media-breakpoint-up(md) {
    padding-top: 100px;
    padding-bottom: 150px;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 40px;
    padding-bottom: 180px;
  }

  .container {
    @include container();
  }

  .col {
    @include col;
    flex-direction: column;
    > * {
      flex: 1 1 auto;
    }
  }

  .title {
    color: $brandBlueLight;
    line-height: 1.5;
    font-weight: 300;
    @include media-breakpoint-up(md) {
      font-size: 48px;
      margin-bottom: 30px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  .ticketMessage {
    color: $brandGrayLighter;
    font-weight: 400;
    line-height: 1.4;

    @include media-breakpoint-up(md) {
      font-size: 16px;
      margin-bottom: 45px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 14px;
      margin-bottom: 20px;
    }

    .mail {
      color: $brandGreenDark;
      margin-top: 10px;
    }
  }

  .iconWrap {
    @include media-breakpoint-up(sm) {
      margin-bottom: 70px;
    }
    @include media-breakpoint-down(xs) {
      margin-bottom: 40px;
    }

    svg {
      width: 185px;
      height: 80px;
    }
  }

  .buttonWrap {
    text-align: center;
  }
  .linkBtn {
    @include custom-button;
    @include button-lg;
    max-width: 340px;
    width: 100%;
    .icon {
      @include inline-flex();
      padding-left: 10px;
      vertical-align: middle;

      svg {
        width: 14px;
        height: 14px;
        fill: #fff;
      }
    }
  }
}
