@import "../../../styles/base";

.Landing {

  .firstSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: -80px;
    background-size: cover;
    background-position: center 63%;
    background-color: $brandGreenDark;
    transition: background-image .3s ease;

    @include media-breakpoint-up(md) {
      padding-top: 90px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 100px;
      padding-left: 15px;
      padding-right: 15px;
      background-color: $content-light-bg;
    }

    @include media-breakpoint-down(xs) {
      background-image: none !important;
    }

    &.full {
      min-height: 610px;

      @include media-breakpoint-up(md) {
        margin-top: -110px;
        padding-top: 130px;
        padding-bottom: 170px;
      }
      @include media-breakpoint-only(sm) {
        padding: 100px 15px 140px;
      }

      @include media-breakpoint-down(sm) {
        padding-top: 90px;
      }
    }

    .title, .subtitle {
      color: #fff;
      text-align: center;
      position: relative;
      z-index: 2;
      margin-top: 0;
    }

    .title {
      font-weight: 300;
      margin-bottom: 20px;
      line-height: 1.3;

      @include media-breakpoint-up(lg) {
        font-size: 60px;
      }

      @include media-breakpoint-only(md) {
        font-size: 45px;
      }

      @include media-breakpoint-only(sm) {
        font-size: 40px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 35px;
        margin-bottom: 25px;
        color: $text-dark-color;

        @media (max-width: 500px) {
          font-size: 35px;
        }
      }
    }

    .subtitle {
      font-weight: 300;
      font-size: 18px;
      margin-bottom: 40px;

      @include media-breakpoint-down(xs) {
        color: #4F5150;
      }

    }

    .featuredTrip {
      @include media-breakpoint-up(sm) {
        position: absolute;
        bottom: 0;
        left: 0;
      }
      width: 100%;
    }

    .landingOverlay {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      @include media-breakpoint-up(sm) {
        background-color: rgba(0, 0, 0, 0.4);
      }

      &:after, &:before {
        position: absolute;
        content: '';
        height: 130px;
        width: 100%;
      }

      &:before {
        top: 0;

        @include media-breakpoint-up(sm) {
          background-color: rgba(0, 0, 0, 0);
          background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
        }
      }

      //&:after {
      //	background-color: rgba(0, 0, 0, 0);
      //	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
      //	bottom: 0;
      //}
    }

  }

  background-size: cover;

  @include titles;

  .featuresList {
    @include list-unstyled;

    .title {
      color: $brandRed;
      font-weight: 700;

      @include media-breakpoint-up(lg) {
        font-size: 32px;
        margin-bottom: 50px;
      }

      @include media-breakpoint-down(md) {
        font-size: 24px;
        margin-bottom: .5em;
      }
    }

    .featuredText {
      color: $brandRed;
      font-weight: 500;
    }

    li {
      margin-bottom: 40px;

      .title {
        margin-top: 0;
      }

      p {
        color: $brandGray;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 0;
      }
    }
  }
}

.scrollDownBlock {
  position: relative;
  z-index: 1;
  width: 300px;
  margin: 0 auto 30px;
  text-align: center;

  .scrollText {
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.75);
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .scrollIconWrap {
    width: 45px;
    height: 45px;
    margin: 0 auto;
    animation: move 1s infinite linear;

    svg {
      transform: rotate(180deg);
      width: 42px;
      height: 42px;
      fill: #fff;
    }
  }
}

@-webkit-keyframes move {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}
