@import "../../styles/base";

$backgroundColor: $brandGrayLightest;

.tabsWrap {
  background-color: $backgroundColor;
  position: relative;
  z-index: 0;

  @include media-breakpoint-up(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include media-breakpoint-down(xs) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  > * {
    margin: 0 auto;
    text-align: center;
  }

  .container {
    @include container();
  }

  .col {
    @include col(12, 12);
  }

  .renderedTabsWrap {
    @include flex;
    @include center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    max-width: 570px;
    overflow: hidden;
  }

  .tabWrap {
    position: relative;
    padding: 20px 0 0;

    &.active {
      .circle {
        background-color: $brandBlueLight;
        width: 12px;
        height: 12px;
        top: 0;
      }
      .text {
        color: $brandGreenDark;
      }
    }

    &:last-child {
      .circle {
        &:after {
          background-color: $backgroundColor !important;
        }
      }
    }

    &.done {
      &:last-child {
        .circle {
          &:after {
            background-color: $backgroundColor;
          }
        }
      }
      .circle {
        background-color: $brandBlueLight;

        &:after {
          background-color: $brandBlueLight;
        }
      }

      .text {
        color: $brandGreenDark;
      }
    }
  }

  .circle {
    @include center;
    @include position(absolute, top 2px left 50%);
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: $brandGrayMercury;

    &:after {
      @include pseudo();
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      height: 2px;
      background-color: $brandGrayMercury;
      z-index: -1;
      width: 30vw;
    }
  }

  .text {
    font-size: 14px;
    font-weight: 400;
    color: #ccc;

    @media (max-width: 420px) {
      font-size: 12px;
    }
  }
}
