@import "../../../styles/base";

.AboutUs {
  @include dashboardPageWrapStyle;
  background: url('static/images/dashboard-bg-1.png') no-repeat top center;
  background-size: 100%;
  min-height: 80vh;
  padding-left: 30px;
  padding-right: 30px;

  @include media-breakpoint-up(lg) {
    padding-top: 80px;
    padding-bottom: 150px;
  }

  @include media-breakpoint-only(md) {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .descriptionLeftCol {
    @include media-breakpoint-up(lg) {
      padding-left: 80px;

      p {
        @include media-breakpoint-up(lg) {
          max-width: 300px;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }

  .descriptionRightCol {
    @include media-breakpoint-up(lg) {
      padding-right: 80px;
      padding-left: 110px;
    }

    @include media-breakpoint-only(md) {
      padding-left: 30px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 60px;
    }

    p {
      @include media-breakpoint-up(lg) {
        max-width: 300px;
      }
    }
  }

  .contentRow {
    @include media-breakpoint-up(md) {
      margin-bottom: 100px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 50px;
    }
  }

  .rightPhoto {
    .photoWrap {

      @include media-breakpoint-up(md) {
        position: relative;
        z-index: 0;
        right: -35px;

        &:after {
          position: absolute;
          content: '';
          background-color: #f04b5e;
          right: 0;
          top: 0;
          left: 80px;
          bottom: 80px;
        }

        @include media-breakpoint-up(lg) {
          padding-top: 55px;
        }
      }

      @include media-breakpoint-down(sm) {
        text-align: center;
      }

      img {
        box-shadow: 0 34px 40px rgba(0, 0, 0, 0.23);

        @include media-breakpoint-up(md) {
          position: relative;
          z-index: 1;
          width: 100%;
        }

        @include media-breakpoint-down(sm) {
          margin-bottom: 60px;
          max-width: 100%;
        }
      }
    }
  }

  .leftPhoto {
    .photoWrap {

      @include media-breakpoint-up(md) {
        position: relative;
        z-index: 0;
        left: -35px;
      }

      @include media-breakpoint-down(sm) {
        text-align: center;
      }

      img {
        box-shadow: 0 34px 40px rgba(0, 0, 0, 0.23);

        @include media-breakpoint-up(md) {
          position: relative;
          z-index: 1;
          width: 100%;
        }

        @include media-breakpoint-down(sm) {
          margin-bottom: 60px;
          max-width: 100%;
        }
      }
    }
  }

  .developersBlock {
    text-align: center;

    @include media-breakpoint-up(lg) {
      max-width: 300px;
    }
  }

  .developersLogoWrap {
    display: block;

    padding-top: 30px;
    padding-bottom: 30px;

    svg, img {
      width: 200px;
    }
  }

  .plane {
		padding-bottom: 30px;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    @include media-breakpoint-up(md) {
      margin-left: -30px;
      margin-right: -30px;
    }

    img, svg {
      max-width: 100%;
    }
  }

	.title {
		color: #3f3f3f;
		font-weight: 700;
		font-size: 72px;

		@include media-breakpoint-up(md) {
			font-size: 85px;
		}

		@include media-breakpoint-only(sm) {
			font-size: 60px;
			margin-bottom: 40px;
		}

		@include media-breakpoint-only(xs) {
			font-size: 50px;
			margin-bottom: 30px;
		}
	}

  .aboutUsWrap {

    @include media-breakpoint-down(sm) {
      text-align: center;
    }

    .subtitleRed {
      color: #ec5266;
      font-weight: 700;
      font-size: 36px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 45px;
      }
    }

    .describe {
      color: #5b5b5b;
      font-size: 14px;
      line-height: 24px;
    }

  }

  .subtitleBlack {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;

    span {
      color: #3f3f3f;

      span {
        color: #ec5266;
      }
    }
  }

  .iconsRow {
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  .icons {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;

    img, svg {
      width: 200px;
      height: 200px;
      display: inline-block;
      line-height: 200px;
      max-width: 100%;
    }
  }

  .tabs {
    margin-bottom: 30px;

    button {
      width: 50%;
      height: 50px;
      border: none;
      border-radius: 0;
      background-color: transparent;
    }

    @include media-breakpoint-up(sm) {
      button {
        span {
          font-size: 18px;
        }
      }
    }

    @include media-breakpoint-only(sm) {
      button {
        span {
          font-size: 14px;
        }
      }
    }

    @include media-breakpoint-only(xs) {
      button {
        border: none;
        width: 100%;
        span {
          font-size: 18px;
        }
      }
    }

    .inactiveTab {
      border-bottom: #ebebeb 2px solid;

      span {
        color: #c6c6c6;
        font-weight: 300;
      }

      @include media-breakpoint-only(xs) {
        border: none;
      }
    }

    .activeTab {
      span {
        color: black;
        font-weight: 700;
      }

      @include media-breakpoint-up(sm) {
        border-bottom: #f14c5e 4px solid;
      }

      @include media-breakpoint-only(xs) {
        border: none;

        span {
          border-bottom: #f14c5e 4px solid;
        }
      }
    }
  }

  .contactUs {
    text-align: center;
    margin-top: 50px;

    a {
      @include link-variant(#f04b5e);
      font-size: 15px;
      font-weight: 400;

			* {
        display: inline-block;
        line-height: 30px;
        vertical-align: middle;
      }
    }

    svg,
    img {
      width: 20px;
      height: 20px;
      fill: #f04b5e;
    }
  }
}

.link {
  @include link-variant(#2da1dd);
}

.grayText {
  color: #c6c6c6;
}

.statusBlock {
  .subtitleBlack {
    margin-bottom: 20px;
  }

  .raised {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    > * {
      min-width: 0;
    }

    .textWrap {
      flex: 0 1 370px;

      border-radius: 10px;
      border: 3px dashed #ebebeb;
      background-color: white;
      padding: 20px;
      color: #f14c5e;
      font-weight: 700;
      max-width: 100%;

      @include media-breakpoint-up(sm) {
        font-size: 30px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 20px;
      }
    }

    .iconWrap {
      padding-left: 25px;
      padding-right: 25px;
      flex: 0 0 88px;

      @include media-breakpoint-down(xs) {
        display: none;
      }

      svg, img {
        width: 38px;
        height: 38px;
        fill: #f0f0f0;
      }
    }

  }
}

.desctopText {
  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.mobileText {
  @include media-breakpoint-up(sm) {
    display: none;
  }
}
