@import "../../styles/base";

input.input {
	//@include input($input-focus-color);
}

.error {
	display: block;
	font-size: 12px;
	color: $brandRed;
	font-weight: 400;
	padding-top: 5px;
}

// Datepicker has another structure ;( than normal input
.input {
	@include form-control;
}

.customField {
	@include form-control;
	@include inputCustomStyle;
}

.customFieldSm {
	@include form-control;
	@include inputCustomStyle(sm);
	@include hover-focus-active {
		outline: none;
	}
}

select.customFieldSm, select.customFieldLg {
	border: 1px solid rgba(126, 126, 126, 0.3);
	outline: none !important;
	box-shadow: none !important;

	&:focus {
		@include placeholder(#bec1c3);
		border: 1px solid #b8bbbc;
	}
}

.customFieldLg {
	@include form-control;
	@include inputCustomStyle;
}

textarea.customFieldLg {
	padding-top: 15px;
}

textarea.customFieldSm {
	padding-top: 10px;
}

.react-tel-input {
	input {
		border: 0 !important;
	}
}

.inputError {
	:global {
		.react-tel-input {
			input {
				border: 1px solid $brandRed !important;
			}

			input[type=tel].invalid-number {
				border: inherit;
			}
		}
	}
}

.phoneInput {
	&:focus, &:hover {
		:global {
			.react-tel-input {
				input {
					border: 0 !important;
					border-bottom: 1px solid $brandGrayLight !important;
				}
			}
		}
	}

	&.hasError {
		:global {
			.react-tel-input {
				input {
					border-bottom: 1px solid $brandRed !important;
				}
			}
		}
	}
}

.firstNameWrap {
	display: flex;

	> * {
		min-width: 0;
		position: relative;
	}

	.firstNameGender {
		flex: 0 0 60px;
		margin-right: 10px;
	}

	.firstNameName {
		flex: 1 1 auto;
	}
}

.label {
	color: $control-label-color;
	font-size: 18px;
}

.select {
	@include select();
}

.customSelect {
	@include customSelect;
}

.customSelectSm {
	@include customSelect(sm);
}

.customSelectLg {
	@include customSelect(lg);
}

.firstNameName {
	flex: 1 1 auto;
	input {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.firstNameGender {
	flex: 0 0 75px;

	:global {
		.Select-control {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
			border-right: none;
		}
	}

	input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.inputBtn {
	@include flex();
	align-items: stretch;
	@include media-breakpoint-up(sm) {
		min-width: 320px;
	}
	@include media-breakpoint-down(xs) {
		min-width: 100%;
	}

	input {
		flex: 1 1 auto;
		@include border-right-radius(0);
	}

	button {
		flex: 0 0 90px;
		@include custom-button-verify;
		@include button-size(10px, 10px, 14px, 20px, 3px);
		@include border-left-radius(0);
		box-shadow: none;

		&:disabled {
			cursor: pointer;
		}
	}
}

.greyInputButton {
  button {
    @include custom-button-promo;
    border: 1px solid #ccc;
  }
}

.placeholder {
	@include position(absolute, top 50% right 10px);
	transform: translateY(-50%);
	white-space: nowrap;
	transition: all .4s ease;
	z-index: 1;
	opacity: 0;
	color: #ccc;
	font-weight: 400;
	font-size: 12px;
}

.textArea {
	height: 150px;
	line-height: 1.3;

	&:focus, &:active {
		box-shadow: none;
	}
}

.DatePickerGroup {
	overflow: hidden;
	position: relative;
}

.countrySelect {
	:global {
		.has-value {
			.Select-control {
				.Select-input {
					input {
						padding-left: 25px;
					}
				}
			}
		}

		.Select-control {
			.Select-multi-value-wrapper {
				.Select-value {
					padding-left: 0;
				}
			}
		}
	}
}
