@import "../../styles/base";

.resulstsWrap {
  text-align: center;

  .image {
    margin-bottom: 10px;
  }

  .removeBtn {
    margin-top: 10px;
    @include btn;
    @include button-variant(#fff, $brandRed, $brandRed);
  }
}
