@import "../../styles/base";

// Overriding .form-control
input.input {
  @include input($input-focus-color);
}

// Datepicker has another structure ;( than normal input
.input {
  input {
    @include input($input-focus-color);
  }
}

.label {
  color: $control-label-color;
  font-size: 18px;
}

.select {
  @include select();
}
