@import "../../../../../styles/base";

.SearchWrap {
  background-color: #f7f7f7;
  text-align: center;
  position: relative;
  min-height: 300px;

	@include media-breakpoint-up(sm) {
		padding-bottom: 60px;
	}

  .searchErrorPanelWrap {
    padding-top: 20px;
    background-color: $brandGrayLightest;

    @include media-breakpoint-up(sm) {
      margin-bottom: -60px;
      padding-bottom: 60px;
    }

    @include media-breakpoint-only(xs) {
      margin-bottom: -100px;
      padding-bottom: 100px;
    }

    .searchErrorPanel {
      padding: 30px;
      font-size: 22px;
			line-height: 1.5;
      text-align: center;
      color: #989898;
      font-weight: 400;

      @include media-breakpoint-up(sm) {
        margin-bottom: 20px;
      }
    }
  }

	.loadingOverlay,
	.loadingPaginationOverlay {
		position: absolute;
		left: 0;
		top: 0;
		bottom: -1px;
		right: 0;
		width: 100%;
		min-height: 100%;
		z-index: 20;
		background-color: rgba(0, 0, 0, .5);

		span, i {
			position: absolute;
			left: 50%;
			top: 185px;
			transform: translate(-50%, -50%);
		}

		svg {
			width: 100px;
			height: 100px;
		}
	}

	.loadingPaginationOverlay {
		span, i {
			top: auto;
      bottom: 185px;
			transform: translateX(-50%);
    }
  }
}

.ticketsLoadWrap {
	position: relative;
}
