@import "../../styles/base";

.form {
  padding-bottom: 30px;

  &.footerForm {
    .newsletterForm {
      position: relative;
      max-width: 260px;
      width: 100%;
      padding-right: 40px;
      padding-left: 10px;
      background-color: #434343;
      border-radius: 200px;

      @include media-breakpoint-down(sm) {
        margin: 0 auto;
      }

      input {
        height: 40px;
        font-size: 12px;
        font-weight: 400;
        color: #9b9b9b;
        background-color: transparent;
        border: none;
        @include placeholderColor(#9b9b9b);
      }

      .submitBtn {
        @include btn;
        display: inline-flex;
        padding: 0;
        background-color: transparent;

        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

        i {
          display: inline-flex;
          svg {
            width: 16px;
            height: 16px;
            fill: #fff;
          }
        }
      }
    }
  }
}
