@import "../../../../styles/base";

.featuredTrip {
  position: relative;
  z-index: 1;

  .title {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    max-width: 970px;
    margin: 0 auto 35px;
    padding: 0 15px;
    @include center-v;
    font-size: 16px;
    letter-spacing: 1px;
    text-shadow: 0px 0px 16px #000000;

    span {
      flex: 0 0 auto;
      margin-right: 20px;
    }

    i {
      flex: 1 1 auto;
      height: 2px;
      background-color: #fff;
    }
  }

  .container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;

    @include media-breakpoint-up(sm) {
      @include center-v;
      flex-wrap: wrap;
    }

    @include media-breakpoint-only(xs) {
      text-align: center;
    }

    .col {

      &.cityCol {
        flex: 1 1 auto;
      }

      @include media-breakpoint-up(sm) {
        flex: 0 0 250px;
        @include center-v;
      }

      @include media-breakpoint-only(xs) {
        margin-bottom: 20px;

        >* {
          display: inline-block;
          line-height: 20px;
          vertical-align: middle;
        }
      }

      .iconWrap, .info {
        @include media-breakpoint-only(xs) {
          display: inline-block;
          line-height: 20px;
          vertical-align: middle;
        }
      }

      .iconWrap {
        flex: 0 0 35px;
        svg {
          width: 20px;
          fill: $brandGreenLight2;
        }

        @include media-breakpoint-only(xs) {
          margin-right: 15px;
        }
      }

      .info {
        color: #fff;
        font-size: 20px;
        flex: 0 1 auto;

        @include media-breakpoint-up(sm) {
          > * {
            display: block;
          }
        }

        @include media-breakpoint-down(sm) {
          font-size: 18px;
        }

        .text {
          font-weight: 300;

          @include media-breakpoint-only(xs) {
            margin-right: 10px;
            display: none;
          }

        }

        .skeletonPlaceholder {
          width: 50px;
          height: 28px;
          position: relative;

          .load,
          .load:before,
          .load:after {
            border-radius: 50%;
            width: 2.5em;
            height: 2.5em;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation: load7 1.8s infinite ease-in-out;
            animation: load7 1.8s infinite ease-in-out;
          }
          .load {
            display: inline-block;
            color: #fff;
            font-size: 3px;
            text-indent: -9999em;
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;

            position: absolute;
            left: 20px;
            top: 10px;
            transform: translate(-50%, -50%) translateZ(0);
          }
          .load:before,
          .load:after {
            content: '';
            position: absolute;
            top: 0;
          }
          .load:before {
            left: -3.5em;
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
          }
          .load:after {
            left: 3.5em;
          }
          @-webkit-keyframes load7 {
            0%,
            80%,
            100% {
              box-shadow: 0 2.5em 0 -1.3em;
            }
            40% {
              box-shadow: 0 2.5em 0 0;
            }
          }
          @keyframes load7 {
            0%,
            80%,
            100% {
              box-shadow: 0 2.5em 0 -1.3em;
            }
            40% {
              box-shadow: 0 2.5em 0 0;
            }
          }

        }

        .place, .price {
          font-weight: 700;
          transition: all .3s ease;
        }
      }
    }

    .smallCol {
      @include media-breakpoint-up(sm) {
        flex: 0 0 150px;
      }
    }

    .submitCol {
      @include media-breakpoint-up(sm) {
        flex: 0 0 150px;
        text-align: right;
      }

      button {
        @include button-outline-variant(#fff);
        @include button-size(15px, 20px, 14px, 14px, 2px);
        border-radius: 2px;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-weight: 700;

        &:hover, &:focus, &:active {
          transition: all .3s ease;
          color: $brandGreenLight2;
        }
      }

      @include media-breakpoint-up(sm) {
        margin-left: auto;
      }
    }

    .controlsCol {
      flex: 0 0 100px;

      @include media-breakpoint-down(xs) {
        margin-bottom: 20px;
      }

      svg, img {
        cursor: pointer;
        width: 20px;
        height: 20px;
        fill: #fff;
        margin-left: 10px;

        &:hover, &:focus, &:active {
          transition: all .3s ease;
          fill: rgba(255, 255, 255, 0.51);
        }
      }

      .left {
				svg {
					transform: rotate(180deg);
				}
      }
    }
  }

}
