@import "../../../../styles/base";

.baggageModal {
  :global {
    .modal-dialog {
      left: 50%;
      top: 10%;
      bottom: auto;
      max-width: 100%;
      width: 90%;
    }
  }
}

.logo {
  background-image: url("./overlay-logo.png");
  background-size: contain;
  height: 57px;
  width: 144px;
  margin: 0 auto 18px;
}

.title {
  font-size: 18px;
  color: #565656;
  text-align: center;
  padding: 10px;
}

.blueTitle {
  color: #26a1e9;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 10px 0;
  word-break: break-word;
}

.headline {
  font-size: 14px;
  color: #666;
  font-weight: 300;
  text-align: center;
  margin: 0 46px;
  padding: 10px;
}

.paragraph {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 0 10px 0;
  color: #86878c;
  word-break: break-word;
}

.modalBody {
  padding: 0;
  text-align: center;
}

.container {
  max-width: 100%;
}

.contentWrap {
  margin-left: 15px;
  margin-right: 15px;
}

.button {
  @include custom-button;
  @include button-lg;
  min-width: 250px;
  margin-bottom: 35px;
}

.closeModalBtn {
  position: absolute;
  right: 15px;
  cursor: pointer;

  i {
    display: inline-block;
    svg {
      width: 8px;
      height: 8px;
      fill: $brandGrayLighter;
    }
  }
}
