@import "../../../../styles/base";

.historySection {

  @include titles;

  .headingPart {
    background: url(../../../../static/images/landing/history/history-map.jpg) no-repeat center top;

    position: relative;
    top: -70px;
    z-index: -1;

    @include media-breakpoint-up(sm) {
      background-size: 1060px;
      padding-top: 650px;
    }

    @include media-breakpoint-only(xs) {
      background-size: 600px;
      padding-top: 350px;
    }

    .headedingContainer {
      max-width: 940px;
      margin: 0 auto;
      padding-left: 20px;
      padding-right: 20px;
    }

    .featuredParagraph {
      font-weight: 200;

      @include media-breakpoint-up(sm) {
        font-size: 23px;
      }

      @include media-breakpoint-only(xs) {
        font-size: 18px;
        text-align: center;
      }

      .textFeatured {
        font-weight: 400;
        color: $brandRed;
      }
    }

    .subtitle {
      color: #9e9e9e;
    }

    .titleXl {
      color: $brandRed;

      @include media-breakpoint-up(sm) {
        margin-bottom: 80px;
      }

      @include media-breakpoint-only(xs) {
        margin-bottom: 40px;
      }

    }
  }

  .historyTimeLine {
    .container {
      margin: 0 auto;

      @media (min-width: 1400px) {
        max-width: 1400px;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
        max-width: 1200px;
      }

      @media (min-width: 1000px) and (max-width: 1199px) {
        max-width: 1000px;
      }

      @media (min-width: 800px) and (max-width: 999px) {
        max-width: 800px;
      }

      > * {
        display: flex;

        > * {
          min-width: 0;
        }

        .col {
          @include media-breakpoint-up(sm) {
            @include colF(1, 2, 0);
            position: relative;
            padding-left: 35px !important;
            padding-right: 35px !important;
          }

          @include media-breakpoint-only(xs) {
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
          }

          &:first-child {
            &:before {
              position: absolute;
              content: '';
              width: 6px;
              height: 100%;
              top: 0;
              bottom: 0;
              right: -3px;
              background-color: rgb(240, 240, 240);
              z-index: 1;
            }
          }

          .content {
            @include media-breakpoint-up(sm) {
              max-width: 380px;
            }
            .title {
              font-size: 40px;
              font-weight: 200;
              margin-bottom: 30px;
              letter-spacing: 2px;
            }

            p {
              font-weight: 400;
              font-size: 14px;
              margin-top: 0;
              letter-spacing: 1px;
            }
          }
        }
      }

      .contentCol {
        .title {
          position: relative;
          &:after, &:before {
            position: absolute;
            color: $brandRed;
            font-size: 40px;
            z-index: 1;

            @include media-breakpoint-only(xs) {
              left: 50%;
              transform: translate(-50%);
            }
          }

          &:after {
            font-weight: 500;

            @include media-breakpoint-only(xs) {
              top: -50px;
            }
          }

          &:before {
            font-weight: 200;

            @include media-breakpoint-only(xs) {
              top: -90px;
            }
          }

        }
      }

      .step1 {
        background: url(../../../../static/images/landing/history/history-section-step-1-line.png) no-repeat center bottom;
        background-size: 100%;
        min-height: 380px;

        @include media-breakpoint-up(lg) {
          background-size: 100% 100%;
        }

        .col {
          &:first-child {
            &:before {
              background: linear-gradient(180deg, rgba(240, 240, 240, 0) 0%, #f0f0f0 10%, #f0f0f0 100%);
            }
          }

          &.decorationCol {
            background: url(../../../../static/images/landing/history/history-section-step-1-decoration-line.png) no-repeat top;
            background-size: 100%;
          }

          &.contentCol {
            @include center-v;

            .title {
              position: relative;
              &:after {
                content: '1914';

                @include media-breakpoint-up(sm) {
                  right: 100%;
                  transform: translateX(-70px);
                  top: 0;
                }
              }
            }
          }

        }
      }

      .step2 {
        //background: url(../../../static/images/landing/history/history-section-step-1-line.png) no-repeat center bottom;
        background-size: 100%;
        min-height: 440px;

        @include media-breakpoint-up(lg) {
          background-size: 100% 100%;
        }

        .col {
          &:first-child {
            &:before {
              background: #f0f0f0;
            }
          }

          &.decorationCol {
            background: url(../../../../static/images/landing/history/history-section-step-2-ticket.png) no-repeat left 40px bottom 40px,
            url(../../../../static/images/landing/history/history-section-step-2-red-line.png) no-repeat bottom center,
            url(../../../../static/images/landing/history/history-section-step-2-green-line.png) no-repeat top center;

            background-size: auto, 100%, 100%;

            @include media-breakpoint-down(xs) {
              display: none;
            }
          }

          &.contentCol {
            @include center-v;
            background: url(../../../../static/images/landing/history/history-section-step-2-monuments.png) no-repeat bottom;
            background-size: 100%;

            @include media-breakpoint-up(sm) {
              text-align: right;
              justify-content: flex-end;
            }

            .title {
              position: relative;
              &:after {
                content: '1992';

                @include media-breakpoint-up(sm) {
                  left: 100%;
                  transform: translateX(70px);
                  top: 0;
                }

              }

            }
          }

        }
      }

      .step3 {
        background: url(../../../../static/images/landing/history/history-section-step-3-europe.jpg) no-repeat top left 0;
        background-size: 50%;
        display: block;

        .step31, .step32 {
          display: flex;

          > * {
            min-width: 0;
          }
        }

        .step31 {
          min-height: 550px;
          .col {
            &:first-child {
              &:before {
                background: #f0f0f0;
              }
            }

            &.decorationCol {
              background: url(../../../../static/images/landing/history/history-section-step-3-green-line.png) no-repeat top center,
              url(../../../../static/images/landing/history/history-section-step-3-calendar.png) no-repeat top 240px right 30px;
              min-height: 440px;
              background-size: 100%, auto;

              @include media-breakpoint-down(xs) {
                display: none;
              }
            }

            &.contentCol {
              @include center-v;
              background: url(../../../../static/images/landing/history/history-section-step-3-australia.jpg) no-repeat center bottom;
              background-size: cover;

              .title {
                position: relative;
                &:after {
                  content: '2016';

                  @include media-breakpoint-up(sm) {
                    right: 100%;
                    transform: translateX(-70px);
                    top: 45px;
                  }

                }

                &:before {
                  content: 'May';

                  @include media-breakpoint-up(sm) {
                    right: 100%;
                    transform: translateX(-70px);
                    top: 0;
                  }

                }

              }
            }

          }
        }

        .step32 {
          min-height: 500px;
          .col {
            &:first-child {
              &:before {
                background: linear-gradient(#f0f0f0, #f0f0f0 60%, rgba(240, 240, 240, 0) 100%);
              }
            }

            &.decorationCol {
              background: url(../../../../static/images/landing/history/history-section-step-3-list.png) no-repeat top 240px left 30px;;
              min-height: 440px;
              background-size: auto;

              @include media-breakpoint-down(xs) {
                display: none;
              }
            }

            &.contentCol {
              @include center-v;

              @include media-breakpoint-up(sm) {
                justify-content: flex-end;
                text-align: right;
              }

              .title {
                position: relative;
                &:after {
                  content: '2016';

                  @include media-breakpoint-up(sm) {
                    left: 100%;
                    transform: translateX(70px);
                    top: 45px;
                  }

                }

                &:before {
                  content: 'August';

                  @include media-breakpoint-up(sm) {
                    left: 100%;
                    transform: translateX(70px);
                    top: 0;
                  }

                }

              }
            }

          }
        }
      }
    }

    .endHistory {
      margin-top: 50px;
      padding-bottom: 50px;
      padding-left: 15px;
      padding-right: 15px;

      .subtitle {
        color: $brandRed;
      }

      .titleXl {
        color: $brandRed;
        margin-bottom: 40px;
      }

      .smalltitle {
        color: #464646;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
      }

    }
  }

}
