@import "../../../../styles/base";

.ArticlesSection {
  padding-bottom: 20px;
  @include media-breakpoint-up(md) {
    padding-top: 60px;
  }

  @include media-breakpoint-only(sm) {
    padding-top: 30px;
  }

  @include media-breakpoint-only(xs) {
    padding-top: 10px;
  }

  .container {
    @include container;
  }
  .col {
    @include col;
    flex-direction: column;
  }

  .linksBlock {
    @include flex(row, center, space-between, wrap);
    @include media-breakpoint-down(xs) {
      justify-content: center;
      //flex-wrap: wrap;
    }

    .linkWrap {
      @include px(1);
      @include py(2);
      @include media-breakpoint-up(sm) {
        flex: 0 0 auto;
      }
      @include media-breakpoint-down(xs) {
        flex: 1 1 100%;
      }

      .link {
        display: block;
        @include center;
        @include media-breakpoint-down(xs) {
          max-width: 300px;
          text-align: center;
        }
      }

      .image {
        @include img-fluid;
      }
    }

    .featureBlock {
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;

      .iconWrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-up(sm) {
          margin-bottom: 60px;
        }
        @include media-breakpoint-down(xs) {
          margin-bottom: 45px;
        }

        img {
          max-height: 40px;

          @include media-breakpoint-only(md) {
            max-height: 33px;
          }

          @include media-breakpoint-down(xs) {
            max-height: 30px;
          }
        }
      }
    }
  }

}



