@import "../../../../../styles/base";

.checkoutHeader {
  position: relative;
  @include flex(row, center, space-between);
  margin-bottom: 15px;

  .title {
    flex: 0 1 auto;
    color: $brandGrayLighter;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 20px 0 0;
  }

  .divider {
    flex: 1 1 auto;
    height: 1px;
    background-color: $brandGrayMercury;
  }

  .editButton {
    flex: 0 1 70px;
    margin-left: 20px;
    @include button-size(5px, 10px, 14px, 20px, 5px);
    @include button-variant($brandGreenDark, #fff, $brandGreenDark);
  }
}
