@import "../../../styles/base";

.UnavailablePage {
	text-align: center;

  @include media-breakpoint-up(md) {
    padding-top: 80px;
    padding-bottom: 130px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 30px;
    padding-bottom: 80px;
  }

  @include media-breakpoint-down(xs) {
    padding-left: 15px;
    padding-right: 15px;
  }


	.messageWrap {
		.title {
			color: #3f3f3f;
			font-size: 30px;
			font-weight: 700;
			margin-bottom: 40px;
		}

		.imageWrap {
			text-align: center;
			margin-bottom: 30px;

			svg {
				width: 100px;
				height: 100px;
			}
		}

		.text {
			color: #aeaeae;
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 10px;
		}

		.newsletter {
			margin-bottom: 20px;
		}
	}
}
