@import "../../../../../../../styles/base";

.modal {
 :global {
   .modal-dialog {
     max-width: 100vw;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     transform: translate(0, 0) !important;

     .modal-content {
       min-height: 100%;
       border-radius: 0;
       border: none;
       padding: 15px 25px;
     }
   }
 }

  .header {
    @include flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 20px;

    .label {
      font-size: 14px;
      font-weight: 400;
      color: $brandGreenDark;
    }

    .closeBtn {
      @include link-variant($brandGrayLighter);
      position: relative;
      font-size: 12px;
      font-weight: 400;
      padding-right: 15px;

      .iconWrap {
        @include position(absolute, top 50% right 0);
        transform: translateY(-50%);

        i {
          display: inline-block;
          svg {
            width: 8px;
            height: 8px;
            fill: $brandGrayLighter;
          }
        }
      }
    }
  }

  .applyBtn {
    @include button-variant(#fff, $brandBlueLight, $brandBlueLight);
    @include button-size(10px, 10px, 14px, 20px, 5px);
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(19, 60, 85, 0.2);
    width: 100%;
  }

  .filterWrap {
    padding-bottom: 20px;

    .filterTitle {
      position: relative;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: $brandBlueLight;
      margin: 0 0 10px;
      z-index: 1;

      span {
        background-color: #fff;
        padding-right: 10px;
      }

      &:after {
        @include pseudo();
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-index: -1;
      }
    }
  }
}
