@import "../../../styles/base";

.storyPage {
  @include media-breakpoint-up(lg) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include media-breakpoint-down(md) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .image {
    @include img-fluid;
    @include center();
  }

  .title {
    color: $brandGrayStandard;
    line-height: 1;
    font-weight: 700;
    text-align: center;
  }

  .paragraph {
    font-size: 14px;
    line-height: 24px;
    color: #5b5b5b;
    max-width: 540px;
    text-align: justify;
    @include center;
  }

  .link {
    @include link-variant(#1cadea);
  }
}

.container {
  @include container();
  flex-direction: column;
}
