// TODO this is how it should be
//:global {
//  @import 'base';
//  @import '~bootstrap/scss/normalize';
//  @import '~bootstrap/scss/reboot';
//}
//
//@import 'base';

@import "variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
// Reset and dependencies
@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
// Core CSS
@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/forms";
// Components
@import "~bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navbar";
// Components w/ JavaScript
@import "~bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/tooltip";

@import "~animate-sass/animate";
@import "~react-dates/css/DayPicker.scss";
@import "~react-dates/css/DayPickerNavigation.scss";
@import "~react-dates/css/CalendarDay.scss";
@import "~react-dates/css/CalendarMonth.scss";
@import "~react-dates/css/DateInput.scss";
@import "~react-dates/css/CalendarMonthGrid.scss";
@import "~react-dates/css/DateRangePicker.scss";
@import "~react-dates/css/DateRangePickerInput.scss";
@import "~react-dates/css/SingleDatePicker.scss";
@import "~react-dates/css/SingleDatePickerInput.scss";
@import "~react-dates/css/styles.scss";
@import "~react-dates/css/variables.scss";
@import "~react-select/scss/default.scss";
@import 'common/react_telephone_input.scss';
@import '~react-input-range/src/scss/index.scss';

@import "base";
@import "common/common";

.fullPageWrap { // todo remove
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  > * {
    flex-shrink: 0;
  }

  .mainWrap {
    flex-grow: 1;
  }
}

:global {
  //disable outline
  a, button {
    outline: none !important;
    @include hover-focus-active {
      outline: none !important;
    }
  }

  html,
  body {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
  }

  body {
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
    input[aria-autocomplete="list"]::-webkit-input-placeholder {
      line-height: normal;
    }
  }

  #tp-widget-wrapper {
    text-align: left;
  }

  .trustpilot-widget {
    width: 100%;
  }
}

.hideFNLP {
  [data-loan-application] [data-jeek="main-overlay"]  {
    display: none !important;
  }
}

.disableBodyScroll {
  height: 100%;
  overflow: hidden;
}
