@import "../../../../../styles/base";

.passengerConfirmation {

  .infoBlock {
    margin-bottom: 25px;

    .title {
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      color: $brandGreenDark;
      margin: 0;
    }
    .content {
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      color: $brandGrayLighter;
    }

    .contentWrap {
      > * {
        @include media-breakpoint-up(sm) {
          display: inline-block;
          vertical-align: top;

          &:not(:last-child) {
            padding-right: 70px;
          }
        }
      }
    }
  }
}
