@import "../../../styles/base";

.pageWrap {
  @include dashboardPageWrapStyle;
  min-height: 75vh;

  @include media-breakpoint-up(sm) {
    padding-top: 80px;
  }

  @include media-breakpoint-down(xs) {
    padding-top: 30px;
  }

  .confirmBtn {
    @include button-size(20px, 25px, 18px, 18px, 6px);
    font-size: 18px;
    font-weight: 700;
    @include button-variant(#fff, #ff5a5f, #ff5a5f);
    display: inline-block;
    max-width: 200px;
    margin: 0 auto;

    &:disabled, &.disabled {
      @include button-variant(#b4b4b4, #f5f5f5, #e9e9e9);
    }
  }
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.form {
  max-width: 380px;
  margin: 0 auto;
}

.row {
  @include clearfix;
}

.col {
  margin-bottom: 30px;
}

.submitButtonRow {
  text-align: center;
  margin-bottom: 20px;

  @include media-breakpoint-up(md) {
    margin-top: 40px;
  }
}

.formTitle {
  color: #3f3f3f;
  font-size: 22px;
  font-weight: 700;
  text-align: center;

  @include media-breakpoint-up(sm) {
    margin-bottom: 40px;
    margin-top: 25px;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 30px;
    margin-top: 10px;
  }
}
