@import "../../../../styles/base";

.checkoutModal {
  :global {
    .modal-dialog {
      left: 50%;
      top: 50%;
      bottom: auto;
      transform: translate(-50%, -50%) !important;
      max-width: 700px;
      max-height: 100%;
    }
  }
}

.modalBody {
  padding: 0;
  text-align: center;
}

.contentWrap {
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  color: $brandGrayStandard;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 10px;
}

.subTitle {
  color: $brandGraySilver;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.imgWrap {
  width: 155px;
  height: 85px;
  position: relative;
  margin: 30px auto;


  svg, img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 140px;
    //height: 70px;
    margin: 0 auto;
    transform: translate(-50%, -50%);
  }
}

.ticketsWrap {
  max-height: 410px;
  overflow-x: auto;
}

.button {
  @include custom-button;
  @include button-lg;
  min-width: 250px;
  margin-bottom: 25px;
}

.otherTicketsList {
  .listTitle {
    display: block;
    background-color: $brandRedLight;
    font-size: 16px;
    font-weight: 400;
    color: $brandGrayStandard;
    padding: 20px 25px;
    text-align: left;
    margin: 0;
    position: relative;
    z-index: 5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);

    span {
      color: $brandBlueLight;
    }
  }
}

.tripWrap {
  border-bottom: 2px solid $brandRedLightest;
}

.showMoreBtn {
  @include btn;
  @include button-variant($brandBlueLight, $brandRedLightest, $brandRedLight);
  @include button-size(20px, 10px, 14px, 14px, 6px);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-width: 2px;
  width: 100%;

  &:hover, &:focus, &:active {
    background-color: $brandRedLightest;
    box-shadow: none;
    border-color: $brandRedLight;
    color: darken($brandBlueLight, 10%);
  }
}

.noTickets {
  text-align: center;
  color: $brandGray;
  background-color: $brandRedLightest;
  padding: 50px 20px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;

  span {
    display: block;
    margin-bottom: 15px;
  }

  a {
    @include link-variant($brandBlueLight);

    >* {
      line-height: 20px;
      vertical-align: middle;
      display: inline-block;
    }

    span {
      margin-bottom: 0;
    }

    svg {
      width: 15px;
      height: 15px;
      fill: $brandBlueLight;
      margin-left: 5px;
    }
  }
}
