@import "../../styles/base";

.radioButton {
  .radioInput {
    display: none;
  }
  .label {
    position: relative;
    padding-left: 20px;
    padding-right: 15px;
    color: $brandGreenDark;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    cursor: pointer;
  }
  .checkmark {
    @include position(absolute, top 50% left 0);
    transform: translateY(-50%);

    width: 16px;
    height: 16px;
    border: 1px solid $brandBlueLight;
    border-radius: 100%;
    background-color: #fff;

    &:after {
      @include pseudo();
      @include position(absolute, top 50% left 50%);
      @include transition();
      transform: translate(-50%, -50%);
      width: 7px;
      height: 7px;
      border-radius: 100%;
      background-color: $brandBlueLight;
      opacity: 0;
    }

    &.checked {
      &:after {
        opacity: 1;
      }
    }
  }
  .errorMessage {
    display: block;
    font-size: 12px;
    color: $brandRed;
    font-weight: 400;
    padding-top: 5px;
  }
}
