@import "../../../../styles/base";

.UserStoriesSection {
	background-color: #f7fafa;
  text-align: center;

	@include media-breakpoint-up(md) {
		padding: 80px 0 50px;
	}
	@include media-breakpoint-down(sm) {
		padding: 50px 0;
	}

	.container {
		@include container;
	}
	.col {
		@include col;
		flex-direction: column;
	}

	.title {
		font-weight: 300;
		color: $brandBlueLight;

		@include media-breakpoint-up(sm) {
			font-size: 48px;
			margin: 0 0 44px;
		}
		@include media-breakpoint-down(xs) {
			font-size: 24px;
			margin: 0 0 30px;
		}
	}

	.testimonial {
		@include media-breakpoint-up(sm) {
			margin-bottom: 25px;
		}
		.firmLogo {
			margin-bottom: 10px;
			i {
				display: inline-flex;
				@include media-breakpoint-up(sm) {
					svg {
						width: 170px;
						height: 40px;
					}
				}
				@include media-breakpoint-down(xs) {
					svg {
						width: 130px;
						height: 30px;
					}
				}
			}
		}
		.content {
			font-family: $font-playfair;
			color: #133c55;
			font-weight: 400;
			max-width: 600px;

			@include media-breakpoint-up(sm) {
				font-size: 36px;
				line-height: 56px;
				margin: 0 auto 30px;
			}
			@include media-breakpoint-down(xs) {
				font-size: 16px;
				line-height: 30px;
				margin: 0 auto 25px;
			}
		}

		.moreLink {
			@include link-variant($brandBlueLight, $brandBlueLight);
			position: relative;
			padding-left: 20px;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;

			.icon {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);

				i {
					display: inline-flex;
					svg {
						fill: $brandBlueLight;
						height: 12px;
						width: 12px;
					}
				}
			}
		}
	}

	.firms {
		@include flex;
		align-items: center;

		@include media-breakpoint-down(xs) {
			flex-wrap: wrap;
		}

		.label {
			flex: 1 0 150px;
			color: #9b9b9b;
			font-size: 18px;
			line-height: 35px;
			font-weight: 400;
			padding: 15px;

			@include media-breakpoint-down(xs) {
				flex: 0 0 100%;
				letter-spacing: 1px;
				font-weight: 300;
				text-transform: uppercase;
				opacity: 0.7;
			}
		}

		.firmWrap {
			flex: 1 1 auto;
			@include flex();
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			@include media-breakpoint-down(xs) {
				justify-content: space-around;
			}

			.firmLogo {
				flex: 0 0 140px;
				width: 140px;
				height: 35px;
				margin: 15px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
}

.featuredTrip {
  position: relative;
  z-index: 1;

  .container {
    max-width: 970px;
    margin: 0 auto;
    padding: 15px;

    @include media-breakpoint-up(sm) {
      @include center-v;
      flex-wrap: wrap;
    }

    @include media-breakpoint-only(xs) {
      text-align: center;
    }
  }

}
