@import "../../styles/base";

.tripDescription {
	position: relative;
	@include flex;
	flex-wrap: wrap;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	background-color: #fff;
	border-bottom: 1px solid #dedede;
	overflow: hidden;

	@include media-breakpoint-down(xs) {
		box-shadow: 0 2px 6px rgba(44, 80, 89, 0.09);
	}

	&.panelView {
		border-radius: 5px;
	}

	&.failedTicket {
		box-shadow: 0 3px 10px #F58895;
		border: 1px solid #F58895;

		@include media-breakpoint-only(xs) {
			margin-top: 70px;
			margin-bottom: 20px;
		}
	}

	@include media-breakpoint-down(xs) {
		display: block;
		border-radius: 5px;
	}

	.shortDisplayFlight {
		padding: 0;
		flex: 1 1 auto;

		> div > div {
			box-shadow: none;
			border: 0;
		}
	}

	.contentWrap {
		@include flex;
		align-items: center;
		position: relative;
		width: 100%;
	}

	.mobileSelectBlock {
		@include media-breakpoint-up(sm) {
			display: none;
		}

		.payment {
			display: block;
			width: 100%;
		}

		.bookingFailed {
			position: absolute;
			left: 20px;
			top: 50%;
			transform: translateY(-50%);
			display: inline-block;
			width: auto;
		}

		border-radius: 0 0 5px 5px;
	}
}

.payment {
	@include flex;
	align-items: flex-start;
	background-color: #fff;
	position: relative;

	@include media-breakpoint-up(sm) {
		padding: 25px 0 15px;
		flex: 0 0 180px;
		border-radius: 0 5px 5px 0;
		border-left: 1px solid #e6e6e6;
	}

	@include media-breakpoint-down(sm) {
		border-radius: 0 0 5px 5px;
	}

	@include media-breakpoint-down(xs) {
		display: none;
	}
}

.expandBtn {
	cursor: pointer;
	width: 100%;
	text-align: center;
	display: flex;

	@include media-breakpoint-up(md) {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.linkWrap {
		flex: 1 1 auto;
	}

	.spaceholder {
		@include media-breakpoint-up(sm) {
			flex: 0 0 180px;
		}
	}

	.detailsLink {
		@include btn;
		@include button-variant(#31393c, #fff, #e6e6e6);
		display: inline-block;
		border-radius: 5px 5px 0 0;
		font-size: 10px;
		line-height: 1;
		font-weight: 500;
		padding: 5px 10px;
		border-bottom: 0;
		min-width: 80px;

		@include hover-focus-active {
			&, &:hover {
				background-color: #fff;
			}
		}
	}
}

.expandDescriptionWrap {
	overflow: hidden;

	@include media-breakpoint-up(sm) {
		flex: 1 1 70%;
		position: relative;
		padding: 30px;
		border-top: 1px solid #e6e6e6;
	}

	&.withReturn {
		@include media-breakpoint-up(sm) {
			flex: 1 1 35%;
		}
	}

	@include media-breakpoint-down(xs) {
		padding: 10px 10px 0;
	}

	> div {
		div:nth-child(2) {
			:global {
				div[class^="PartWayDescription__partWayDescriptionWrap"] {
						&:first-child {
							div[class^="Flight__dotWrap"] {
								&:after {
									position: absolute;
									content: '';
									width: 1px;
									height: 1000px;
									background-color: #979797;
									left: 50%;
									top: 12px;
									transform: translateX(-50%);
									z-index: 1;
								}
							}
					}
				}
			}
		}

		div:last-child {
			:global {
				div[class^="PartWayDescription__partWayDescriptionWrap"] {
					&:last-child {
						div[class^="Flight__flightWrap"] {
							&:last-child {
								div[class^="Flight__dotWrap"] {
									&:after {
										position: absolute;
										content: '';
										width: 3px;
										height: 1000px;
										background-color: #fff;
										left: 50%;
										top: 12px;
										transform: translateX(-50%);
										z-index: 2;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.otherInfoWrap {
	border-top: 1px solid #e6e6e6;
	background-color: #fff;
	color: #4e4e4e;
	font-size: 16px;
	font-weight: 500;
	padding: 30px 15px 10px;

	@include media-breakpoint-up(sm) {
		flex: 0 0 180px;
		border-left: 1px solid #e6e6e6;
	}

	@include media-breakpoint-down(xs) {
		display: none;
	}

	.title {
		text-align: left;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #31393c;
		margin-bottom: 10px;
	}

	ul {
		padding: 0;
		list-style: none;
		margin-top: 0;
		margin-bottom: 0;

		li {
			padding-bottom: 10px;
			display: flex;
			justify-content: space-between;

			font-size: 12px;
			line-height: 14px;
			font-weight: 400;
			color: #9b9b9b;

			.totalPrice {
				color: #133c55;
				font-weight: 500;
			}
		}
	}
}

.dashboard {
	border-top: none;
}

.divider {
	display: block;
	border-right: 1px solid #e6e6e6;
}

.tripDescriptionSm {
	@include media-breakpoint-up(sm) {
		display: none;
	}

	&.bordered {
		border-bottom: 1px solid #e6e6e6;
	}
}

.closeTicketBtn {
	color: #b4b4b4;
	font-size: 12px;
	font-weight: 400;
	text-align: right;
	padding-left: 15px;
	padding-right: 15px;

	@include media-breakpoint-up(sm) {
		display: none;
	}
}

.bookingFailed {
	font-size: 14px;
	cursor: pointer;
	position: absolute;
	top: 30px;
	transform: translate(-50%);
	left: 50%;
	width: 100%;
	font-weight: 400;

	> * {
		display: inline-block;
		line-height: 20px;
		vertical-align: middle;
	}

	svg {
		width: 20px;
		height: 20px;
		margin-right: 10px;
		display: inline-block;
		vertical-align: middle;
		fill: $brandBlueLight;
	}

	&:hover, &:focus {
		text-decoration: underline;
	}

	&Top {
		@include media-breakpoint-up(sm) {
			display: none;
		}

		top: 40px;
	}
}
