@import "../../../styles/base";

.modal {
  .modalHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;

    .modalTitle {
      position: relative;
      font-size: 15px;
      line-height: 24px;
      font-weight: 500;
      color: #133c55;
      margin: 0;
      padding-left: 34px;

      i {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: inline-flex;

        svg {
          width: 24px;
          height: 16px;
        }
      }
    }
    .closeModalBtn {
      cursor: pointer;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
  .modalBody {
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #9b9b9b;
  }
}
