@import "../../../styles/base";

:global {
  .modal-backdrop {
    background: transparent linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%) !important;
    opacity: 0.5 !important;
  }
  .modal {
    position: relative;

    .modal-dialog {
      position: absolute;
      bottom: 20%;
      left: 50%;
      transform: translateX(-50%) !important;
      margin: 0;
      width: 100%;

      @include media-breakpoint-up(sm) {
        max-width: 320px;
      }
      @include media-breakpoint-down(xs) {
        max-width: 280px;
      }
    }
  }
}
