.SingleDatePicker {
  width: 100%;

  .SingleDatePickerInput {
    border: none;
    .DateInput {
      width: 100%;
    }

    .DateInput__input {
      width: 100%;
      background-color: transparent;
      padding: 0;
    }

    .DateInput__display-text {
      font-size: 13px;
      background-color: transparent !important;
      border-color: transparent !important;
      color: $fields-color;
      padding-left: 10px;
      font-weight: 300;
    }
  }
}
.DateRangePicker {
  .CalendarDay--blocked-calendar {
    background: #ffe5e8;
    color: #565a5c;
  }
  .CalendarDay--blocked-out-of-range {
    background: #fff;
    color: #cacccd;
  }
  .CalendarMonth__caption.js-CalendarMonth__caption {
    padding-bottom: 45px;
  }
}
