.input-error {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  color: $brandRed;
}

.Select.is-disabled {
  opacity: .7;
}

.Select.is-disabled > .Select-control {
  background-color: #eeeeee !important;
}

.react-tel-input {
  width: 100% !important;

  input[disabled] {
    background-color: #eeeeee !important;
  }
}

.SearchField {
  .Select-value-label {
    color: $fields-color !important;
  }

  .Select-control {
    &:hover, &:focus, &:active {
      background-color: transparent;
    }
  }
}

.Select-value {
  padding-right: 20px !important;
}

.Select-control {
  &:hover, &:focus, &:active {
    background-color: $input-focus-color;
    box-shadow: none;
  }
}

.Select.is-disabled > .Select-control {
  background-color: transparent !important;
}

.DateRangePicker__picker--portal {
  z-index: 3;
}

.form-group {
  margin-bottom: 0 !important;
}

.react-tel-input input[disabled] {
  background-color: transparent !important;
}

.Select {
  &.error-valid {
    .Select-control {
      border: 1px solid $brandRed !important;
    }
  }
}
