$tooltip-border-color: #c9d0d9;

.tooltip {
  .tooltip-inner {
    min-width: 155px;
    font-size: 10px;
    //font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 8px;
    background-color: transparentize(#1A384F, .1);
    color: #fff;
    line-height: 1.4;
    border-radius: 4px;
  }
}
