@import "../../../../styles/base";

.warningMessage {
  border: 1px solid $brandBlueLight;
  border-radius: 3px;
  background-color: $brandBlueLighter;
  padding: 15px 20px;
  margin-bottom: 30px;

  &.withIcon {
    position: relative;
    @include media-breakpoint-up(sm) {
      padding-left: 70px;
    }
    @include media-breakpoint-down(xs) {
      padding-left: 40px;
    }
  }

  .title, .description {
    font-size: 14px;
    line-height: 20px;
    color: $brandGrayCarbon;
    margin: 0;
    padding: 0;
  }

  .title {
    font-weight: 700;
  }

  .description {
    font-weight: 400;
  }

  .iconWrap {
    @include inline-flex();
    @include media-breakpoint-up(sm) {
      @include position(absolute, top 50% left 20px);
      transform: translateY(-50%);

      svg {
        width: 30px;
        height: 30px;
      }
    }
    @include media-breakpoint-down(xs) {
      @include position(absolute, top 15px left 10px);
      svg {
        width: 20px;
        height: 20px;
      }
    }


    i {
      @include inline-flex();
      svg {
        fill: $brandBlueLight;
      }
    }
  }
}
