@import "../../../../styles/base";

.countyPresentation {
  @include containerF(0, true, 100%);
  max-width: 900px;
  padding-left: 15px;
  padding-right: 15px;

  @include media-breakpoint-only(xs) {
    text-align: center;
  }

  svg {
    width: 16px;
    height: 16px;
    fill: $brandRed;
    //box-shadow: 0 16px 24px 0 rgba(241, 76, 94, 0.49);
  }

  .title, .info {
    width: 100%;
  }

  .info {
    font-size: 19px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-up(sm) {
      display: flex;
      align-items: center;
    }

    @include media-breakpoint-down(xs) {
      svg {
        order: -1;
        margin-right: 20px;
        margin-left: 0 !important;
      }
    }

    > * {
      min-width: 0;
    }
  }

  > * {
    @include media-breakpoint-up(sm) {
      @include center-v;
      height: 260px;
      width: 100%;

      > div {
        width: 100%;
      }
    }
  }

  .priceCol, .infoCol {
    @include media-breakpoint-only(xs) {
      width: 100%;
    }
  }

  .priceCol {
    @include media-breakpoint-up(md) {
      @include colF(1, 4, 0);
    }

    @include media-breakpoint-only(sm) {
      @include colF(1, 3, 0);
    }

    @include media-breakpoint-up(sm) {
      order: 1;
    }

    >div {
      display: flex;
      flex-direction: column;
    }

    .personsList {
      list-style: none;
      padding-left: 0;
      margin-bottom: 30px;

      @include media-breakpoint-up(sm) {
        order: 1;
      }

      li {
        display: inline-block;
        background-color: #fff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.2);
        position: relative;
        overflow: hidden;

        @include media-breakpoint-up(sm) {
          border: 3px solid #fff;
        }

        &:not(:last-child) {
          margin-right: 8px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .info {
      @include media-breakpoint-up(sm) {
        order: 2;
      }

      @include media-breakpoint-only(xs) {
        margin-bottom: 20px;
      }

      svg {
        margin-right: 20px;
      }
    }

  }

  .infoCol {
    @include media-breakpoint-up(md) {
      @include colF(1, 4, 0, none, 2);
    }

    @include media-breakpoint-only(sm) {
      @include colF(1, 3, 0, none, 1);
    }

    @include media-breakpoint-up(sm) {
      text-align: right;
      order: 2;
    }

    .title {
      font-size: 26px;
      margin-bottom: 30px;
    }

    .info {
      @include media-breakpoint-up(sm) {
        justify-content: flex-end;
      }
      svg {
        margin-left: 20px;
      }

      @include media-breakpoint-only(xs) {
        margin-bottom: 20px;
      }
    }
  }
}
