@import "../../../styles/base";

.closeModalBtn {
  @include media-breakpoint-up(sm) {
    display: none;
  }

  @include media-breakpoint-down(xs) {
    @include modal-close-btn;
  }
}

.wrap {
  text-align: center;

  .title {
    padding-top: 30px;
    color: #3f3f3f;
    font-size: 30px;
    font-weight: 700;
  }

  .describe {
    padding-top: 10px;
    color: #aeaeae;
    font-size: 16px;
    font-weight: 400;

    b {
      color: #3f3f3f;
      font-weight: 700;
    }
  }

  .iconWrap {
    max-width: 100%;
    width: 100px;
    height: 100px;
		display: block;
		margin: 30px auto;
  }

  .button {
    margin: 30px;
    padding: 20px;
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.35);
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
    @include button-variant(#fff, #f65350, #f65350);
  }
}
