@import '../../../styles/base';

.dashboard {
  @include dashboardPageWrapStyle;
  background-image: url('./../assets/dashboard-background.png');
  color: #465060;
  font-weight: 500;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;

  @include media-breakpoint-up(lg) {
    padding-top: 80px;
  }

  @include media-breakpoint-between(sm, md) {
    padding-top: 50px;
  }

  @include media-breakpoint-only(xs) {
    padding-top: 30px;
  }

  .title {
    color: #4e4e4e;
    font-size: 26px;
    font-weight: 600;

    @include media-breakpoint-up(sm) {
      margin-bottom: 50px;
      text-align: left;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 30px;
    }
  }

  .subtitle {
    color: #4e4e4e;
    font-size: 20px;
    font-weight: 300;

    @include media-breakpoint-up(sm) {
      text-align: left;
      margin: 10px 0 20px;
    }

    @include media-breakpoint-down(xs) {
      margin: 10px 0;
    }
  }
}

.marginBottom {
  margin-bottom: 20px;
}

.closeBtn {
  position: absolute;
  cursor: pointer;
  top: -30px;
  right: -30px;
  font-size: 35px;
  font-weight: 100;
  color: #fff;
}

.scrollable {
  width: 100%;
  overflow-y: scroll;
  height: 90vh;
  overflow-x: hidden;
}

.noTicketsBlock {
  padding-top: 50px;
  padding-bottom: 30px;
  color: #a7a6a6;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;

  svg {
    width: 47px;
    height: 47px;
    fill: #eaeaea;
    margin-bottom: 10px;
  }
}

.ticketWrap {
  margin-top: 30px;
}
