@import '../../../styles/base';

.dashboard {

  .statsBlockWrap {
    display: flex;
    text-align: center;
    flex-wrap: wrap;

    >* {
      min-width: 0;
      margin-bottom: 30px;

      @include media-breakpoint-up(sm) {
        flex: 0 0 25%;
        padding-left: 30px;
        padding-right: 30px;
      }

      @include media-breakpoint-only(xs) {
        flex: 0 0 50%;

        @media (max-width: 500px) {
          flex: 0 0 100%;
        }
      }
    }

    .iconWrap {
      position: relative;
      height: 130px;

      svg, img {
        position: absolute;
        width: 85px;
        height: 85px;

        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .statValue {
      color: #4e4e4e;
      font-weight: 100;

      @include media-breakpoint-up(xl) {
        font-size: 65px;
      }

      @include media-breakpoint-between(sm, lg) {
        font-size: 40px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 50px;
      }
    }

    .lable {
      color: #a7a6a6;
      font-size: 14px;
      font-weight: 600;
      text-transform: lowercase;
    }
  }
}

