@import "../../styles/base";

.customCheckbox {
  display: inline-block;
  cursor: pointer;

  &.block {
    display: block;
  }

  input {
    display: none;

    &:checked + label {
      svg {
        opacity: 1;
      }
    }

    &:disabled + label {
      cursor: not-allowed;
      opacity: .7;
    }

    &:disabled + label:after {
      background-color: $gray-lighter;
    }
  }

  label {
    position: relative;
    color: $brandGrayStandard;
    padding-left: 30px;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
    margin-bottom: 0;
    line-height: 20px;
    font-weight: 300;

    &:after, svg {
      position: absolute;
      content: '';
      top: 10px;
      left: 10px;
      transform: translate(-50%, -50%);
    }

    &:after {
      width: 15px;
      height: 15px;
      background-color: $brandBlueLight;
      border-radius: 3px;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    }

    svg {
      fill: #fff;
      width: 10px;
      height: 10px;
      z-index: 1;
      opacity: 0;
    }
  }

  .error {
    font-size: 12px;
    padding: 5px 0 5px 30px;
    color: $brandRed;
    font-weight: 400;
  }
}
