@import "../../../../styles/base";

.WhyFlymbleSection {
	@include media-breakpoint-up(md) {
		padding-top: 80px;
		padding-bottom: 160px;
	}

	@include media-breakpoint-only(sm) {
		padding-top: 50px;
		padding-bottom: 80px;
	}

	@include media-breakpoint-only(xs) {
		padding-top: 40px;
		padding-bottom: 60px;
	}

	.container {
		@include container;
	}
	.col {
		@include col;
		flex-direction: column;
	}

	.title {
		color: $brandBlueLight;
		font-weight: 300;
		text-align: center;
		margin-top: 0;

		@include media-breakpoint-up(sm) {
			font-size: 48px;
			margin-bottom: 80px;
		}

		@include media-breakpoint-down(xs) {
			font-size: 24px;
			margin-bottom: 30px;
		}
	}

	.featureBlocksWrap {
		@include clearfix;

		.featureBlock {
			padding-left: 15px;
			padding-right: 15px;
			text-align: center;

			@include media-breakpoint-up(sm) {
				width: 25%;
				float: left;
			}

			@include media-breakpoint-down(xs) {
				margin-left: auto;
				margin-right: auto;
				max-width: 320px;
				&:not(:last-child) {
					margin-bottom: 40px;
				}
			}

			.blockTitle {
				color: #133c55;
				font-size: 20px;
				font-weight: 400;
				line-height: 30px;
				margin: 0 0 10px;
			}

			.link {
				display: block;
				@include link-variant(#4a90e2);
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
			}

			.text {
				display: block;
				color: #9b9b9b;
				font-size: 14px;
				line-height: 24px;
				font-weight: 400;
				max-width: 270px;
				margin: 0 auto;
			}

			.iconWrap {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;

				@include media-breakpoint-up(sm) {
					margin-bottom: 20px;
				}
				@include media-breakpoint-down(xs) {
					margin-bottom: 15px;
				}

				i {
					display: inline-flex;

					svg {
						width: 100px;
						height: 55px;
					}
				}
			}
		}
	}

}



