@import '../../../../styles/base';

.checkoutConfirmComponent {
  @include dashboardPageWrapStyle;
  padding-top: 20px;
  min-height: 75vh;
  background-color: $brandGrayLightest;


  .container {
    @include container();
  }

  .reversed {
    @include container();
    flex-direction: column-reverse;
  }

  .leftCol {
    @include media-breakpoint-up(sm) {
      @include col(8, 12);
    }
    @include media-breakpoint-down(sm) {
      @include col(12, 12);
    }
  }
  .rightCol {
    @include media-breakpoint-up(lg) {
      @include col(3, 12, $offset: 1);
    }
    @include media-breakpoint-only(md) {
      @include col(4, 12);
    }
    @include media-breakpoint-down(sm) {
      @include col(12, 12);
      margin-bottom: 40px;
    }
  }
  .col {
    @include col;
  }
  .buttonWrap {
    flex: 1 1 auto;
    text-align: center;
    @include media-breakpoint-down(sm) {
      padding-top: 20px;
    }
    .confirmBtn {
      @include custom-button;
      @include button-lg;
      @include center;
      @include media-breakpoint-up(sm) {
        min-width: 340px;
      }
      @include media-breakpoint-down(xs) {
        min-width: 100%;
      }
      &:disabled {
        cursor: pointer;
      }
    }
  }
}