@import "../../../../styles/base";

.checkoutContainer {
  width: 100%;

  @include media-breakpoint-up(sm) {
    margin-bottom: 40px;
  }
  @include media-breakpoint-down(xs) {
    margin-bottom: 25px;
  }

  .titleWrap {
    @include flex(row, center, space-between, wrap);
  }

  .title {
    position: relative;
    font-weight: 300;
    color: $brandGreenDark;
    line-height: 25px;

    @include media-breakpoint-up(sm) {
      font-size: 20px;
      padding-left: 50px;
      margin: 0 0 15px;
    }
    @include media-breakpoint-down(xs) {
      font-size: 16px;
      padding-left: 40px;
      margin: 0 0 10px;
    }

    .iconWrap {
      @include inline-flex();
      transform: translateY(-50%);
      @include media-breakpoint-up(sm) {
        @include position(absolute, top 50% left 20px);
      }
      @include media-breakpoint-down(xs) {
        @include position(absolute, top 50% left 10px);
      }

      i {
        @include inline-flex();
        svg {
          fill: $brandBlueLight;
          stroke: $brandBlueLight;
          width: 20px;
          height: 20px;
        }
      }
    }

    .booker {
      color: #38A3F0
    }
  }

  .removeBtn {
    @include link-variant($brandGreenDark);
    .icon {
      @include inline-flex();
      svg {
        width: 10px;
        height: 10px;
      }
    }
  }

  .contentWrap {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #fff;
    @include media-breakpoint-up(md) {
      padding: 30px 50px;
    }
    @include media-breakpoint-only(sm) {
      padding: 20px;
    }
    @include media-breakpoint-down(xs) {
      padding: 20px 10px;
    }
  }

  .promoPadding {
    @include media-breakpoint-up(md) {
      padding: 20px 10px;
    }
    @include media-breakpoint-only(sm) {
      padding: 20px;
    }
    @include media-breakpoint-down(xs) {
      padding: 20px 10px;
    }
  }
  
  .border {
    border: solid 2px #38A3F0;
  }
}
