@import '../../../../styles/base';

.passengerInfo {
  flex: 1 1 auto;

  .passengerInfoWrap {
    @include sticky(top 15px);
  }

  .title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    padding-bottom: 10px;
    margin: 0 0 10px;
    border-bottom: 1px solid $brandGrayMercury;
    color: $brandGreenDark;
  }

  .flightInfo {
    @include flex(row, center, space-between);
  }

  .flightInfo, .passengerInfo, .priceInfo {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $brandGrayLighter;
  }

  .paymenets {
    padding-top: 10px;

    .paymentTitle {
      position: relative;
      color: $brandGrayCarbon;
      font-size: 14px;
      color: $brandGreenDark;
      font-weight: 500;
      line-height: 20px;
      z-index: 1;
      margin: 10px 0;

      &:after {
        @include pseudo();
        @include position(absolute, top 50% left 0);
        transform: translateY(-50%);

        height: 1px;
        width: 100%;
        background-color: $brandGrayMercury;
        z-index: -1;
      }

      span {
        padding-right: 30px;
        background-color: $brandGrayLightest;
      }
    }

    .creditPointList {
      @include list-unstyled;

    }
  }

  .listItem {
    @include flex(row, center, space-between);

    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #9b9b9b;

    .greenText {
      color: $brandLightGreen;

      .greyText {
        color: #9b9b9b;
      }
    }

    .darkBlueText {
      color: $brandGreenDark;
    }

  }

  .totalPrice {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: $brandGreenDark;
    text-align: right;
  }

  .priceInfo {
    text-align: right;
    padding: 5px 0 10px;
  }

  .paymentSummary {
    @include flex(row, center, space-between);
    color: $brandGreenDark;
    font-weight: 500;
    line-height: 1;
    padding: 10px 0 30px;
    border-top: 1px solid $brandGrayMercury;

    .label {
      font-size: 14px;
    }
    .summaryPrice {
      font-size: 24px;
    }
  }

  .paymentsAccepted {
    .label {
      font-size: 12px;
      font-weight: 400;
      color: $brandGrayLighter;
      margin-bottom: 10px;
    }
    .paymentsImg {
      max-width: 140px;
      height: auto;
    }
  }
}

.line {
  padding-bottom: 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid $brandGrayMercury;
}