@import "../../../../styles/base";

//search bar variables
$field-height: 50px;
$field-height-xs: 40px;
$field-font-size: 14px;
$field-font-size-lg: 16px;
$field-font-weight: 300;
$field-placeholder-color: $brandGrayLighter;
$field-color: #000;

.coolRadioStyleBlock {
  margin-right: 20px;
  cursor: pointer;

  &, .lableWrap {
    > * {
      display: inline-block;
      line-height: 20px;
      vertical-align: middle;
    }
  }

  input {
    position: absolute;
    z-index: -100;
    opacity: 0;

    &:checked {
      & + .lableWrap {
        .radio {
          .radioItem {
            display: block;
            width: 9px;
            height: 9px;
          }
        }

        .radioText {
          opacity: 1;
        }
      }
    }
  }

  .radioText {
    opacity: 0.8;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    transition: color .3s ease;
  }

  &:hover {
    .radioText {
      opacity: 1;
    }
  }

  .radio {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    border-radius: 50%;
    transition: all .3s ease;
    background-color: #fff;

    .radioItem {
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: $brandGreen;
      transition: all .3s ease;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.form {
  width: 100%;
}

.flyTypeBlock {
  padding-left: 10px;

  @include media-breakpoint-up(sm) {
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(xs) {
    text-align: center;
    margin-bottom: 10px;
  }
}

.searchFieldWrap {
  position: relative;
  z-index: 999;
  margin: 0 auto 20px;
  width: 100%;
  padding: 0 10px;

  @include media-breakpoint-up(md) {
    max-width: 1130px;
  }
  @include media-breakpoint-down(xs) {
    max-width: 360px;
    margin-bottom: 20px;
  }
}

.searchField {
  @include containerF(0, false, 100%);

  @include media-breakpoint-up(sm) {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(44, 80, 89, 0.3);
    border-radius: 5px;
  }

  > .col {
    &.selectMonth {
      .icon {
        background-color: $brandRed;

        svg {
          fill: #fff;
        }
      }

      .select {
        :global {
          .Select-menu-outer {
            padding-bottom: 40px;

            &:before {
              position: absolute;
              content: '';
              width: 100%;
              height: 40px;
              bottom: 0;
              left: 0;
              z-index: 2;
              background: $gray-lighter url(../../../../static/images/dropdownFNPL.png) no-repeat center;
              background-size: auto 100%;
            }
          }
        }
      }
    }

    &.cityCol {
      @include media-breakpoint-up(sm) {
        @include colF(21, 100, 0);
      }
    }

    &.dateCol {
      @include media-breakpoint-up(sm) {
        @include colF(27, 100, 0);
      }

      &.dateColDesktop {
        > div {
          padding: 5px;
        }
      }

      :global {

        .SingleDatePicker__picker, .DateRangePicker__picker {
          z-index: 10;
        }

        .DateRangePicker, .SingleDatePicker {
          position: relative;

          &, .DateRangePickerInput, .SingleDatePickerInput {
            width: 100%;
          }

          .DateRangePickerInput, .SingleDatePickerInput {
            display: flex;
            align-items: center;
            border: none;

            > * {
              min-width: 0;
            }

            .DateRangePickerInput__clear-dates {
              z-index: 10;
              line-height: inherit;
            }

            .DateRangePickerInput__clear-dates, .SingleDatePickerInput__clear-date {
              display: inline-flex;
              justify-content: center;
              position: absolute;
              top: 0;
              right: -4px;
              width: 14px;
              height: 14px;
              padding: 0;
              margin: 0;
              border-radius: 50%;
              transition: all .3s ease;

              svg {
                width: 75%;
                height: 75%;
              }

              &:hover, &:focus {
                background-color: #ccc;
                @include media-breakpoint-down(sm) {
                  background-color: inherit;
                }
              }
            }

            .DateInput {
              flex: 1 1 auto;
              position: relative;

              @include media-breakpoint-up(lg) {
                padding-left: 34px;
                &:before {
                  left: 10px;
                }
              }
              @include media-breakpoint-only(md) {
                padding-left: 25px;
                &:before {
                  left: 5px;
                }
              }

              @include media-breakpoint-only(sm) {
                padding-left: 0;
                padding-right: 0;
                &:before {
                  display: none;
                }
              }

              @include media-breakpoint-only(xs) {
                padding-right: 3px;
              }

              &:before {
                content: '';
                position: absolute;
                top: 50%;
                width: 16px;
                height: 16px;
                transform: translateY(-50%);
                background-image: url(../../../../static/images/landing/searchField/calendar-icon.png);
                background-size: cover;
              }

              &.DateInput--with-caret {
                &:after, &:before {
                  display: none !important;
                }
              }

              input, .DateInput__display-text {
                font-size: $field-font-size;
                padding-left: 0;
                padding-right: 0;
                color: $field-placeholder-color;
                font-weight: $field-font-weight;
                text-align: left;

                @include media-breakpoint-down(xs) {
                  font-size: $field-font-size-lg;
                }

                &.DateInput__display-text--has-input {
                  color: $field-color;
                }

                &.DateInput__display-text--focused {
                  background-color: #fff;
                }
              }
            }

            .DateRangePickerInput__arrow {
              text-align: center;

              @include media-breakpoint-up(lg) {
                flex: 0 0 40px;
              }
              @include media-breakpoint-down(md) {
                flex: 0 0 30px;

                svg {
                  width: 16px;
                  height: 16px;
                  fill: #ccc;
                }
              }
            }
          }
        }

        @include CalendarDay;

        .DayPicker {
          &:after {
            position: absolute;
            content: '';
            bottom: 100%;
            left: 20%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent #fff transparent;
          }
        }
        .DayPickerNavigation__next,
        .DayPickerNavigation__prev,
        .DayPickerNavigation__next--default,
        .DayPickerNavigation__prev--default {
          top: 0;
          border: none;

          svg {
            fill: #484848;
          }
        }
        .CalendarMonth__caption {
          font-size: 14px;
          font-weight: 700;
          color: #112d43;
        }
      }
    }

    &.simpleCol {
      @include media-breakpoint-up(sm) {
        @include colF(18, 100, 0);
        flex-grow: 1;
      }
    }

    &.btnCol {
      border-bottom: none;

      &:disabled {
        cursor: pointer;
      }

      //@include media-breakpoint-only(md) {
      //  flex: 1 0 115px;
      //}

      @include media-breakpoint-up(sm) {
        @include colF(13, 100, 0);
      }

      @include media-breakpoint-down(xs) {
        padding: 0;
      }
    }

    @include media-breakpoint-only(xs) {
      @include colF(1, 2, 0);
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #fff;
      }
      &:nth-last-child(2) {
        margin-bottom: 10px;
      }
    }

    &:first-child, &:last-child {
      > div {
        &:after {
          display: none;
        }
      }
    }

    &:last-child {
      > div {
        padding: 0;
      }
    }

    > div {
      position: relative;
      padding: 5px 5px 5px 40px;

      @include media-breakpoint-only(sm) {
        padding: 5px;
      }

      @include media-breakpoint-up(sm) {
          &:after {
            position: absolute;
            content: '';
            top: 4px;
            bottom: 4px;
            left: 0;
            width: 2px;
            background-color: #f0f0f0;
            z-index: 2;
          }
      }

      .icon {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        display: inline-flex;

        @include media-breakpoint-only(sm) {
          display: none;
        }

        i {
          display: inline-flex;

          svg {
            fill: #ccc;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }

  .formGroup {
    position: relative;
    background-color: transparent;
    border: none;
    margin-bottom: 0;

    &.cityField {
      @include flex();

      div {
        flex: 1 1 auto;

        input {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
          padding-right: 0;
          outline: none;
        }

      }

      .cityCode {
        font-size: $field-font-size;
        line-height: $field-height;
        background-color: #fff;
        flex: 0 0 auto;
        //padding-left: 3px;

        @include media-breakpoint-down(xs) {
          font-size: $field-font-size-lg;
          line-height: $field-height-xs;
        }
      }
    }

    &.dateSpanField {
      border: none;
      box-shadow: none;
      height: $field-height;
      color: $field-placeholder-color;
      width: 100%;
      border-radius: 3px;
      font-size: $field-font-size;
      padding: 0 10px;
      font-weight: $field-font-weight;

      @include media-breakpoint-down(xs) {
        padding: 0;
        font-size: $field-font-size-lg;
        height: $field-height-xs;
      }

      .date, .anytime {
        line-height: $field-height;

        @include media-breakpoint-down(xs) {
          line-height: $field-height-xs;
        }
      }
      .date {
        color: $field-color;
      }
      .anytime {
        color: $field-placeholder-color;
      }
    }

    input {
      border: none;
      box-shadow: none;
      height: $field-height;
      color: $field-color;
      width: 100%;
      border-radius: 3px;
      font-size: $field-font-size;
      font-weight: $field-font-weight;
      z-index: 10;

      @include placeholder($field-placeholder-color);

      &:focus {
        @include placeholder(transparent);
      }

      @include media-breakpoint-down(xs) {
        font-size: $field-font-size-lg;
        height: $field-height-xs;
      }
    }

    .tooltipPointer {
      display: flex;
      justify-content: center;
    }
    .tooltip {
      padding: 15px;
      border-radius: 10px;
    }
  }
}

.select {
  @include media-breakpoint-up(sm) {
    @include select($field-height, 0, null, $field-placeholder-color, $field-font-size, $field-font-weight, 100%);
  }

  .label {
    font-size: $field-font-size;
    font-weight: $field-font-weight;
    color: $field-color;

    @include media-breakpoint-down(xs) {
      font-size: $field-font-size-lg;
    }

    span {
      margin-right: 10px;
      white-space: nowrap;
    }
  }

  :global {
    .Select-control {
      border: none;
      font-size: $field-font-size;
      font-weight: $field-font-weight;
      height: $field-height;

      @include media-breakpoint-down(sm) {
        font-size: $field-font-size-lg;
        height: $field-height-xs;
      }
    }
    .Select-arrow-zone {
      .Select-arrow {
        border: none;
        width: 10px;
        height: 8px;
        background-image: url(../../../../static/images/landing/searchField/arrow-down.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transform: rotate(90deg);
        top: 0 !important;

        @include media-breakpoint-only(sm) {
          display: none;
        }
      }
    }

    .Select-value, .Select-placeholder, .Select-value-label {
      color: $field-placeholder-color;
      padding: 0;
      height: $field-height;
      line-height: $field-height;

      @include media-breakpoint-down(sm) {
        height: $field-height-xs;
        line-height: $field-height-xs;
      }

      // Hack to hide interest rate in field
      span + span {
        display: none;
      }
    }

    .Select-menu-outer {
      display: inline-block;
      background-color: #fff;
      position: absolute;
      top: 73px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, .05), 0 0 0 1px rgba(0, 0, 0, .07);
      left: -40px;
      width: 200px;
      border-radius: 5px;

      @include media-breakpoint-down(md) {
        left: -45px;
      }

      @include media-breakpoint-down(sm) {
        left: -5px;
        width: 100%;
      }

      @include media-breakpoint-up(md) {
        &:after {
          position: absolute;
          content: '';
          bottom: 100%;
          left: 22px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 10px 10px 10px;
          border-color: transparent transparent #fff transparent;
        }
      }
    }

    width: 100%;
  }
}

.btnSubmit {
  @include button-variant(#1a3c55, #ffe91f, #ffe91f);
  @include button-size(10px, 10px, 14px, 1, 5px);
  display: block;
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 #eabc19;
  height: $field-height + 10px;
  width: 100%;
  border: none;

  @include media-breakpoint-down(xs) {
    height: $field-height;
  }

  &:hover, &:focus {
    background-color: #fee059;
    border-color: #fee059;
  }

  &:disabled {
    background-color: #ffe91f !important;
    border-color: #ffe91f !important;
    box-shadow: inset 0 -3px 0 #fcdf53;
    cursor: pointer;
  }

  > * {
    vertical-align: middle;
  }

  i {
    display: inline-flex;
    margin-right: 6px;
    svg {
      fill: #1a3c55;
      width: 16px;
      height: 16px;
    }
  }
}

.tooltipWraper {
  position: absolute;
  left: 15px;
  bottom: 135px;

  .tooltip {
    background: white;
    color: red;
  }
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 1;
  color: $field-placeholder-color;
  font-weight: $field-font-weight;
  font-size: $field-font-size;
  max-width: calc(100% - 10px);
  transform: translateY(-50%);

  @include media-breakpoint-down(xs) {
    font-size: $field-font-size-lg;
    max-width: calc(100% - 40px);
  }
}

@keyframes slideInFromDown {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}

@keyframes slideOutFromTop {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}

.pseudoModal {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  background: #fff;
  transform: translateZ(0);

  @media screen and (max-width: 767px) and (orientation: landscape) {
    overflow-y: auto;
  }

}

.pseudoModalFadeOut {
  top: 100%;
  animation-name: slideOutFromTop;
  animation-duration: 0.4s;
}

.pseudoModalFadeIn {
  top: 0;
  animation-name: slideInFromDown;
  animation-duration: 0.4s;
}

.miniMenuContainer {
  padding: 20px;
  display: table;
  vertical-align: top;
  width: 100%;
  color: $fields-color;

  @include media-breakpoint-down(sm) {
    font-weight: 700;
  }

  .tableLeft {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: 30%;

    .reset {
      font-size: 12px !important;
      font-weight: normal !important;
      border: 1px solid black;
      padding: 3px 10px;
      margin-left: 15px;
    }

    .iconSpan {
      right: 10px;
      top: 10px;
      width: 35px;
      height: 35px;

      svg {
        right: 0;
        top: 0;
        width: 10px;
        height: 10px;
        fill: $brandGreenDark;
      }
    }
  }

  .tableCenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 40%;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: $brandGrayLighter;
    font-weight: 300;
  }

  .accept {
    padding: 0 5px;

    span {
      @include button-size(10px, 30px, 14px, 20px, 5px);
      @include button-variant(#fff, #299def, #299def);
      box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(19, 60, 85, 0.2);
      font-weight: 400;
      line-height: 20px !important;
      border: none;
    }
  }
  .tableRight {
    font-size: 12px;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 30%;
  }
}

.datePickerWrap {
  height: 100%;

  > * {
    height: 100%;
  }
  :global {
    .DayPicker {
      .transition-container {
        padding-top: 0 ;
        padding-bottom: 90px;
      }
    }
    .DayPickerNavigation {
      bottom: -15px;
    }
    .CalendarDay--blocked-calendar {
      background: #ffe5e8;
      color: #565a5c;
    }
    .CalendarDay--blocked-out-of-range {
      color: lightgray;
      background: white !important;
    }
    .CalendarDay--selected-start, .CalendarDay--selected-end {
      color: #fff;
      background: #133c55 !important;
      border-radius: 3px !important;
    }
    .CalendarDay--selected-span {
      color: #fff;
      background: #299def;
      border-radius: 0;
      border-width: 0px;
    }
   .DayPickerNavigation--vertical-scrollable {
      display: none;
   }
  }
}

.portalDatesWrap {

  :global {

    .DateRangePicker, .SingleDatePicker {
      position: relative;
      width: 100%;
      height: 100%;

      &, .DateRangePickerInput, .SingleDatePickerInput {
        width: 100%;
      }

      .DateRangePickerInput, .SingleDatePickerInput {
        border: none;
        top: 59px;
        left: 0;
        right: 0;
        height: 48px;
        display: flex;
        align-items: center;

        > * {
          min-width: 0;
        }

        .DateInput {
          flex: 1 1 auto;
          position: relative;
          padding-left: 34px;

          &:before {
            content: '';
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../../../../static/images/landing/searchField/calendar-icon.png);
            background-size: cover;

            @include media-breakpoint-down(sm) {
              display: none;
            }
          }

          @include media-breakpoint-down(sm) {
            padding-right: 3px;
            text-align: center;
          }

          input, .DateInput__display-text {
            font-size: $field-font-size;
            padding-left: 0;
            padding-right: 0;
            color: $fields-color;
            font-weight: $field-font-weight;
            text-align: center;
            background-color: white;

            @include media-breakpoint-down(sm) {
              font-size: $field-font-size-lg;
              font-weight: 700;
            }
          }

          .DateInput__display-text--focused {
            color: $brandBlueLight;
            border-radius: 0;
          }
        }

        .DateRangePickerInput__arrow {
          flex: 0 0 24px;
        }
      }
      .DateRangePicker__picker, .SingleDatePicker__picker {
        width: 100%;
        top: 50px;

        .DayPicker {
          max-height: 100%;

          .DayPickerNavigation, .DayPickerNavigation--vertical {
            position: fixed;

            @media screen and (max-width: 767px) and (orientation: landscape) {
              position: absolute;
              bottom: 0;
              left: 0;
            }
          }

          .DayPicker__week-headers {
            padding-bottom: 10px;
            background-color: #fff;
            height: 25px;

            .DayPicker__week-header {
              top: auto;
              width: 100%;
              left: 0;
              background-color: #fff;
              margin-left: 0;

              @include media-breakpoint-up(sm) {
                border-bottom: 1px solid #dbdbdb;
              }

              ul {
                display: flex;
                justify-content: space-around;
                margin: 1px 0;
              }
            }
          }

          .CalendarMonthGrid, .CalendarMonthGrid--vertical {
            width: 100%;

            .CalendarMonth, .CalendarMonth--vertical {
              width: 100%;
              table {
                width: 100%;
              }
            }
            .CalendarMonth__caption {
              font-size: 14px;
              line-height: 20px;
              font-weight: 700;
              color: $brandGreenDark;
              padding: 5px 0;
            }
          }
        }
      }

      @include CalendarDay;
    }
  }
}

.tooltipMargin {
  left: 140px !important;
}
