@import "../../../styles/base";

.modal {

  .formGroup {
    margin-bottom: 50px;
  }

  .closeModalBtn {
    @include media-breakpoint-up(sm) {
      display: none;
    }

    @include media-breakpoint-down(xs) {
      @include modal-close-btn;
    }
  }

  :global {
    .modal-dialog {
      @include media-breakpoint-down(xs) {
        width: 100%;
        max-width: 480px;
        margin: 0;

        .modal-content {
          border-radius: 0;
        }
      }
    }
  }

  .title {
    text-align: center;
    margin-bottom: 30px;
  }

  .modalBody {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px 10px 10px;
    text-align: center;

    @include media-breakpoint-up(xs) {
      padding: 40px 10px 10px;
    }
  }

  .btnSubmit {
    @include button-variant(#fff, #f14c5e, #f14c5e);
    @include button-size(0, 0, 16px, 16px, 6px);
    @include borderedBtn(#c52133);
    height: 60px;
    margin-bottom: 5px;
  }

  .resetPasswordForm {
    margin-bottom: 5px;

    span {
      position: relative;
    }
  }
}
