@import "../../styles/base";

@mixin header-link-style {
  text-transform: uppercase;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all .2s ease;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);

  @include media-breakpoint-up(sm) {
    padding: 8px 10px;
  }

  @include media-breakpoint-up(md) {
    font-size: 14px;
  }

  @include media-breakpoint-only(sm) {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }

  &:hover, &:active {
    border-color: transparent !important;
  }

  &:focus {
    color: #fff;
  }
}

.Header {
  z-index: 3;

  .navbarWrap {
    border: none;
    margin: 0;

    @include media-breakpoint-up(sm) {
      background-color: transparent;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
      background-size: cover;
      background-position: center;
      min-height: 70px;
      padding: 5px 15px;
    }

    @include media-breakpoint-down(xs) {
      background-color: $content-light-bg;
      min-height: 50px;
    }

    .navbarHeader {
      .navbarBrand {
        padding: 10px 15px;
        position: relative;

        svg {
          fill: #fff;
          width: 125px;
          height: 46px;

          @include media-breakpoint-only(xs) {
            width: 100px;
            height: 35px;

            :global {
              .flymble-logo-symbol {
                fill: #38A3F0;
              }

              .flymble-logo-text {
                fill: #133C55;
              }
            }
          }
        }
      }

      .toggleBtn {
        border: none !important;

        :global {
          .icon-bar {
            background-color: #0A3249 !important;
            height: 2px;
            width: 22px;
            border-radius: 1px;

            & + & {
              margin-top: 4px;
            }
          }
        }

        &:hover, &:focus, &:active {
          background-color: transparent !important;
        }

        @include media-breakpoint-down(xs) {
          margin-top: 9px;
          margin-bottom: 9px;
        }
      }
    }

    .navbarCollapse {
      box-shadow: none;
      border: none;
      padding: 0;

      .navItemsList {
        margin: 0;
        padding: 15px 0;

        @include media-breakpoint-up(sm) {
          @include flex(row, center, flex-end);
        }

        .navbarLink {
          @include media-breakpoint-up(sm) {
            &:not(:last-child) {
              margin-right: 20px;
            }
          }

          @include media-breakpoint-down(xs) {
            padding: 10px;
            min-height: 20px;

            &, a {
              @include link-variant($text-dark-color);
            }

            &:not(:last-child) {
              border-bottom: 1px solid transparentize(#fff, .85);
            }
          }

          a {
            padding: 0;
          }
        }

        .trustLink {
          svg {
            fill: #fff;
            width: 95px;
            height: 10px;

            @include media-breakpoint-down(xs) {
              fill: $text-dark-color;
            }
          }
        }

        .featureTrustLink {
          @include media-breakpoint-up(lg) {
            width: 420px;
            height: 20px;
          }
          @include media-breakpoint-only(md) {
            width: 230px;
            height: 40px;
          }
          @include media-breakpoint-only(sm) {
            width: 160px;
            height: 40px;
          }
          @include media-breakpoint-down(xs) {
            width: 100%;
            height: 60px;
          }
        }

        .IATALink {
          display: inline-flex;
          svg {
            fill: #fff;
            width: 30px;
            height: 20px;

            @include media-breakpoint-down(xs) {
              fill: $text-dark-color;
            }
          }
        }

        .secureLabel {
          font-weight: 300;
          user-select: none;

          @include media-breakpoint-up(sm) {
            color: #fff;
          }

          @include media-breakpoint-down(xs) {
            fill: $text-dark-color;
          }

          i {
            padding-right: 5px;
          }

          svg {
            fill: #fff;
            width: 10px;
            height: 10px;

            @include media-breakpoint-down(xs) {
              fill: $text-dark-color;
            }
          }
        }

        .callLink {
          @include media-breakpoint-up(sm) {
            display: none;
          }
          svg {
            fill: #fff;
            width: 15px;
            height: 15px;

            @include media-breakpoint-down(xs) {
              fill: $text-dark-color;
            }
          }
        }

        .helpLink {
          @include media-breakpoint-up(sm) {
            padding-top: 0;
            padding-bottom: 0;
          }

          a {
            @include button-size(10px, 20px, 14px, 20px, 5px);
            @include button-variant(#fff, #299def, #299def);
            box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(19, 60, 85, 0.2);
            font-weight: 400;
            line-height: 20px !important;
            border: none;
          }
        }
      }
    }

    :global {
      .navbar-collapse {
        &.in {
          @include media-breakpoint-down(xs) {
            box-shadow: 0 5px 25px -10px transparentize(#000, .25);
          }
        }
      }
    }
  }

  &.fillBg {
    background-image: none;
    background-color: $brandGreenDark;
  }
}


.popover {
  position: absolute;
  z-index: 999;
  font-size: 12px;
  font-weight: 300;

  @include media-breakpoint-up(md) {
    color: #fff;
    padding-top: 7px;
  }

  @include media-breakpoint-down(sm) {
    color: $brandGreenDark;
    padding-left: 10px;
  }
}

