@import "../../../styles/base";

.modal {
  margin: 20px;

  @include media-breakpoint-down(xs) {
      margin: 20px 5px;
  }

  .modalHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;

    .modalTitle {
      position: relative;
      font-size: 22px;
      line-height: 26px;
      font-weight: 500;
      color: #133c55;
      margin: 0;

      @include media-breakpoint-down(xs) {
        text-align: center;
        font-size: 13px;
        line-height: 18px;
      }
    }
    .closeModalBtn {
      cursor: pointer;
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 10px 14px;
      font-size: 11px;
      line-height: 20px;
      font-weight: 300;
      color: lightgray;
    }
  }
  .modalBody {
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: #9b9b9b;

    @include media-breakpoint-down(xs) {
      text-align: center;
      font-size: 13px;
      line-height: 17px;
    }

    .okButton {
      margin-top: 20px;
      display: flex;
      justify-content: center;

      @include media-breakpoint-down(sm) {
        padding-top: 0;
        padding-bottom: 0;
      }

      span {
        @include button-size(10px, 30px, 14px, 20px, 5px);
        @include button-variant(#fff, #299def, #299def);
        box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(19, 60, 85, 0.2);
        font-weight: 400;
        line-height: 20px !important;
        border: none;
      }
    }
  }
}
