@import "../../../../styles/base";

@mixin standard-transition {
	transition: all .5s ease-in-out;
	transform: translateZ(0);
}

.DiscoverSection {
	padding: 50px 0;

	.container {
		@include container;
	}

	.sectionTitle {
		flex: 1 1 auto;
		font-size: 22px;
		line-height: 32px;
    font-weight: 200;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		text-align: center;
		margin: 0 0 40px;
    color: #9b9b9b;
	}

	.cardsWrap {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;

		@include media-breakpoint-down(xs) {
			justify-content: center;
		}
	}

	.card {
		@include standard-transition;
		@include link-variant(#fff, #fff);
		position: relative;
		z-index: 1;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&:hover, &:focus {
			box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3) !important;
		}

		@include media-breakpoint-up(sm) {
			min-height: 440px;
			padding: 30px 50px 35px;
			flex: 0 1 calc(50% - 15px);
			margin-bottom: 30px;
		}

		@include media-breakpoint-down(xs) {
			min-height: 360px;
			padding: 30px;
			flex: 0 1 540px;
			margin-bottom: 20px;
		}

		.coverImageContainer {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			z-index: -1;
		}

		.coverImage {
			@include standard-transition;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			transform: scale(1);

			&:before {
				@include standard-transition;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				background-image: linear-gradient(180deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .4) 100%);
				background-size: cover;
				background-position: center;
				opacity: 0;
			}
		}

		&:hover, &:focus {
			.coverImage {
				transform: scale(1.05);

				&:before {
					opacity: .5;
				}
			}
		}

		.priceWrap {
			font-weight: 500;
			letter-spacing: .5px;
			color: #fff;
			text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);

			.priceText {
				font-size: 16px;
				line-height: 20px;
				font-weight: 400;
				letter-spacing: 1px;
			}
			.price {
				font-size: 24px;
				line-height: 35px;
			}
		}

		.title {
			@include transition();
			font-size: 36px;
			line-height: 42px;
			font-weight: 300;
			color: #fff;
			margin: 0 0 10px;
			max-width: 250px;
			text-shadow: 0 0 8px #000000;

			@include media-breakpoint-down(xs) {
				font-size: 28px;
				line-height: 32px;
			}
		}

		.location {
			position: relative;
			padding-left: 20px;

			font-size: 12px;
			line-height: 14px;
			font-weight: 400;
			letter-spacing: .5px;
			color: #fff;
			opacity: 1;
			text-transform: uppercase;

			.icon {
				position: absolute;
				top: 0;
				left: 0;

				i {
					display: inline-flex;
					svg {
						width: 14px;
						height: 14px;
						fill: #fff;
					}
				}
			}
		}

		.description {
			margin: 20px 0 0;
			font-size: 14px;
			font-weight: 300;
			color: #fff;
		}
	}
}
