@import "../../styles/base";

.rangeInputWrap {
  padding-right: 15px;

  :global {
    .input-range {
      padding-top: 10px;
      padding-bottom: 15px;

      @include media-breakpoint-up(md) {
        min-width: 265px;
        max-width: 100%;
      }

      .input-range__label {
        display: none;
      }

      .input-range__slider {
        width: 12px;
        height: 12px;
        border: 1px solid $brandBlueLight;
        background-color: #fff;
        margin: -8px 0 0 0;
      }

      .input-range__track {
        background-color: $brandGrayMercury;
      }

      .input-range__track--active {
        background-color: $brandBlueLight;
      }

      .input-range__label-container {

      }
    }
  }
}
