@import "../../../../../styles/base";

.nested {
  @include media-breakpoint-up(sm) {
    display: inline-block;
    width: 50px;
  }
}

.suggestionsContainer {
  display: inline-block;
  background-color: #fff;
  position: absolute;
  top: 70px;
  left: -40px;
  z-index: 15;
  border-radius: 5px;

  @include media-breakpoint-down(sm) {
    left: -5px;
  }

  &:not(:empty) {
    box-shadow: 0 2px 6px rgba(0,0,0,.05), 0 0 0 1px rgba(0,0,0,.07);
  }

  @include media-breakpoint-down(xs) {
    top: 45px;
    left: -40px;
    width: 340px;
  }

  > div {
   @include media-breakpoint-up(sm) {
     left: -5px;
     width: 300px;
     &:after {
       position: absolute;
       content: '';
       bottom: 100%;
       left: 22px;
       width: 0;
       height: 0;
       border-style: solid;
       border-width: 0 10px 10px 10px;
       border-color: transparent transparent #fff transparent;
     }
   }
  }
}

.suggestionsList {
  list-style: none;
  padding-left: 0;
  z-index: 15;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 5px;

  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}

.flag {
  width: 20px;
  height: 20px;
}

.code {
  display: inline-block;
  padding: 1px 3px;
  border: 1px solid #000;
  border-radius: 7px;
  margin-right: 10px;
  min-width: 45px;
  text-align: center;
}

.iconWrap {
  min-width: 45px;
  text-align: center;
  margin-right: 10px;
}

.suggestion {
  padding: 10px 15px 10px 10px;
  cursor: pointer;
  font-weight: 300;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fff;
  z-index: 10;
  border-radius: 5px;

  @include media-breakpoint-down(xs) {
    white-space: normal;
    width: 100%;

    * {
      white-space: normal;
    }

    > span {
      white-space: nowrap;
    }
  }

  span {
    >* {
      line-height: 20px;
      vertical-align: middle;

      @include media-breakpoint-up(sm) {
        display: inline-block;
      }

      @include media-breakpoint-down(xs) {
        display: inline;
      }
    }
  }

  svg {
    width: 20px;
    height: 20px;
    fill: #000;
  }

  &.suggestionFocused {
    background-color: #f2f2f2;
  }
}

.topDepartures {
  .departuresTitle {
    position: relative;
    padding: 15px 0 15px 35px;
    margin: 0;

    font-size: 14px;
    font-weight: 700;
    color: #ccc;
    text-transform: uppercase;
    z-index: 100;

    .icon {
      @include position(absolute, top 50% left 15px);
      transform: translateY(-50%);
      i {
        display: inline-flex;
        svg {
          fill: #fdca40;
          width: 13px;
          height: 13px;
        }
      }
    }
  }
}
