@import "../../styles/base";

.footer {
  z-index: 1;
  position: relative;

  .contentWrap {
    background: #313131;

    @include media-breakpoint-up(md) {
      padding-top: 60px;
      padding-bottom: 0;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 30px;
      padding-bottom: 20px;
    }
  }

  .copyright {
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;

    li {
      font-size: 14px;
      min-height: 30px;
      color: #969696;

      @include media-breakpoint-down(xs) {
        font-size: 11px;
      }

      > * {
        display: inline-block;
        vertical-align: middle;

        @include media-breakpoint-up(sm) {
          line-height: 30px;
        }

        @include media-breakpoint-down(xs) {
          line-height: 20px;
        }
      }

      @include media-breakpoint-down(xs) {
        font-weight: 300;

        svg {
          margin-left: 10px;
        }
      }

      img, svg {
        width: 28px;
        height: 28px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;

        @include media-breakpoint-down(xs) {
          width: 20px;
          height: 20px;
        }
      }

      svg {
        fill: #fff;
      }

      a {
        @include link-variant(#fff);
      }

      &.kiwi {
        line-height: 50px;

        svg {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

.container {
  @media (min-width: 600px) {
    @include containerF(30px, true, 100%);
    max-width: 1040px;
  }

  @media (max-width: 599px) {
    padding-left: 20px;
    padding-right: 20px;
  }

}

.nav {
  @include media-breakpoint-up(md) {
    display: flex;
  }

  > * {
    min-width: 0;
  }

  .col {
    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
      @include colF(1, 3, 0);
    }

    @include media-breakpoint-down(sm) {
      text-align: center;
    }

    .title {
      color: #fff;
      font-size: 14px;
      line-height: 25px;
      font-weight: 400;
      margin-top: 0;

      @include media-breakpoint-up(md) {
        margin-bottom: 20px;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .linksList {
      padding-left: 0;
      list-style: none;

      @include media-breakpoint-down(sm) {
        margin-bottom: 5px;
      }

      li {
        margin-bottom: 10px;

        a, span {
          @include link-variant(#fff);
          font-size: 12px;
          font-weight: 300;
          line-height: 16px;
          cursor: pointer;
        }
      }
    }
  }
}

.infoBlock {
  background-color: #1e1e1e;
  padding-top: 20px;
  padding-bottom: 10px;

  p {
    color: #9b9b9b;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0;
  }
}

.developersLine {
  background-color: #000;
  padding: 8px 15px;
  text-align: right;
  color: #777777;
  font-size: 11px;
  line-height: 18px;
  width: 100%;

  > span {
    margin-right: 10px;
    line-height: 18px;
    vertical-align: middle;

    span {
      color: #e2393e;
    }
  }

  a {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
  }

  svg {
    width: 80px;
    height: 20px;
  }
}

.socialList {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  @include media-breakpoint-up(md) {
    text-align: left;
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }

  li {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 25px;
    }

    a {
      svg {
        fill: #838383;
        width: 18px;
        height: 18px;
      }

      &:hover {
        fill: darken(#838383, 30%);
      }
    }
  }
}

.mainPart {
  width: 100%;
  border-bottom: 1px solid #535353;

  @include media-breakpoint-up(md) {
    display: flex;
    padding-bottom: 40px;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 60px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 20px;
    margin-bottom: 15px;
  }

  .contact {
    @include media-breakpoint-up(md) {
      flex: 0 1 400px;
    }
    @include media-breakpoint-only(sm) {
      flex: 0 1 400px;
    }

    @include media-breakpoint-down(sm) {
      text-align: center;
    }

    .logoWrap {
      @include media-breakpoint-up(md) {
        margin-bottom: 20px;
      }

      @include media-breakpoint-down(sm) {
        margin-bottom: 10px;
      }

      svg {
        fill: #fff;
        width: 140px;
        height: 50px;
      }
    }
  }

  .nav {
    flex: 1 1 auto;
  }
}

.secondaryPart {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 25px;

  @include media-breakpoint-up(sm) {
    display: flex;
  }

  .col {
    @include media-breakpoint-up(sm) {
      @include colF(1, 3, 0);

      &:not(:last-child) {
        padding-right: 20px;
      }
    }

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  .colTitle {
    color: #9b9b9b;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .imageWrap {
    img {
      max-width: 100%;
    }
  }

  .linkWrap {
    a {
      @include link-variant(#fff);
      font-size: 20px;
      font-weight: 500;
    }
  }

  .partners {
    img {
      max-width: 200px;
    }
    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  .payments {
    img {
      max-width: 160px;
    }
    @include media-breakpoint-up(md) {
      text-align: center;
    }
  }

  .assistance {
    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }
}
