@import '../../../../styles/base';

.modal {

  .title {
    color: #3f3f3f;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
  }

  .paymentsList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 40px;
  }

  .contentWrap {
    margin: 0 auto;
    max-width: 300px;
  }

  .closeModalBtn {
    @include media-breakpoint-up(sm) {
      display: none;
    }

    @include media-breakpoint-down(xs) {
      @include modal-close-btn;
    }
  }

  .customRadio {
    margin-bottom: 10px;

    .checkBlock {
      position: relative;
      width: 16px;
      height: 16px;
      border: 2px solid #d7d7d7;
      margin-right: 10px;
      border-radius: 50%;

      .circle {
        position: absolute;
        content: '';
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;

        width: 8px;
        height: 8px;
        background-color: $brandGreen;
        opacity: 0;
        transition: all .3s ease;
      }
    }

    input {
      opacity: 0;
      position: fixed;
      top: -1000px;
      left: -1000px;

      &:checked + label {
        .checkBlock {
          .circle {
            opacity: 1;
          }
        }
      }
    }

    label {
      color: #494949;
      font-size: 14px;
      font-weight: 400;
      white-space: nowrap;
      cursor: pointer;

      > * {
        display: inline-block;
        vertical-align: middle;
        line-height: 20px;
      }
    }
  }

  .submitButton {
    @include button-size(20px, 15px, 12px, 12px, 4px);
    font-size: 18px;
    font-weight: 700;
    @include button-variant(#fff, $brandRed, $brandRed);
    width: 100%;
    margin-bottom: 15px;

    &:disabled, &.disabled {
      @include button-variant(#b4b4b4, #f5f5f5, #e9e9e9);
    }
  }

  .error {
    text-align: center;
    margin-bottom: 20px;
    color: $brandRed;
    font-size: 18px;
  }

  .modalBody {
    @include media-breakpoint-down(xs) {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 30px;
    }
  }

}
