@import "../../../../styles/base";

.slider {

	&.light {
		:global {
			.slick-dots {
				li {
					&.slick-active {
						background-color: $brandRed;
						border-color: $brandRed;
					}
				}
			}
		}
	}

	&.standard {
		:global {
			.slick-dots {
				li {
					&.slick-active {
						background-color: $brandRed;
						border-color: $brandRed;
					}
				}
			}
		}
	}

	&.paginationOffset {
		padding-bottom: 50px;
		:global {
			.slick-dots {
				bottom: -50px;
			}
		}
	}

	:global {

		.slick-slide {
			height: auto !important;
		}

		.slick-active {
			//box-shadow: 0 0 30px rgba(0,0,0,0.5);
		}

		.slick-cloned {
			display: none;
		}

		.slick-dots {

			li {
				position: relative;
				border-radius: 50%;
				background-color: #fff;
				width: 12px;
				height: 12px;
				border: 2px solid #ed1c24;
				opacity: .2;
				transition: all .3s ease;

				&.slick-active {
					opacity: 1;
				}

				button {
					position: absolute;
					top: -6px;
					left: -6px;
					width: 20px;
					height: 20px;
					opacity: 0;
				}
			}
		}

		/* the slides */
		.slick-slide {
			@media (min-width: 480px) {
				border-right: 10px solid transparentize(#fff, 1);
				border-left: 10px solid transparentize(#fff, 1);
			}

			@media (max-width: 479px) {
				border-right: 5px solid transparentize(#fff, 1);
				border-left: 5px solid transparentize(#fff, 1);
			}

			-moz-background-clip: border; /* Firefox 3.6 */
			-webkit-background-clip: border; /* Safari 4? Chrome 6? */
			background-clip: border-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */

			-moz-background-clip: padding; /* Firefox 3.6 */
			-webkit-background-clip: padding; /* Safari 4? Chrome 6? */
			background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */

			-moz-background-clip: content; /* Firefox 3.6 */
			-webkit-background-clip: content; /* Safari 4? Chrome 6? */
			background-clip: content-box;
		}

		.slick-next {
			@include media-breakpoint-down(xs) {
				right: -15px;
			}
		}

		.slick-prev {
			@include media-breakpoint-down(xs) {
				left: -15px;
			}
		}
	}
}

