@import "../../../styles/base";

.collapseListItem {
  color: #333;
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: 300;
  line-height: 1.5;

  &.opened {

    .collapseTitle {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  .collapseTitle {
    position: relative;
    @include link-variant(#333);
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
    display: block;
    padding-right: 40px;
    padding-bottom: 20px;
    user-select: none;

    svg {
      width: 15px;
      height: 15px;

      position: absolute;
      right: 10px;
      top: 5px;

      &, * {
        fill: #333 !important;
      }
    }
  }

  :global {
    .collapse {
      transform: translateZ(0);
    }
  }
}

