@import "../../../styles/base";

.storyPage {
  @include media-breakpoint-up(lg) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include media-breakpoint-down(md) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .faqWrap {
    .title {
      color: $brandGrayStandard;
      font-weight: 700;
      position: relative;
      line-height: 1;

      @include media-breakpoint-up(lg) {
        margin: 0 0 50px;
        font-size: 30px;
      }

      @include media-breakpoint-between(sm, md) {
        margin: 0 0 40px;
        font-size: 28px;
      }

      @include media-breakpoint-down(xs) {
        margin: 0 0 30px;
        font-size: 25px;
      }
    }

    .questionsList {
      @include list-unstyled;
      margin: 0 0 30px;
    }

    .block {
      margin-bottom: 20px;

      a {
        @include link-variant($brandBlueLight);
      }
    }
  }
}

.container {
  @include container();
  flex-direction: column;
}
