@import "../../../styles/base";

.modal {
	.closeModalBtn {
		@include media-breakpoint-up(sm) {
			display: none;
		}

		@include media-breakpoint-down(xs) {
			@include modal-close-btn;
		}
	}
}

.paybackModal {
  :global {
    .modal-dialog {
      @include media-breakpoint-up(sm) {
        width: 460px;
      }
    }
  }
}

.modalBody {
  padding: 0 10px;
  text-align: center;

  .contentWrap {
    padding-left: 15px;
    padding-right: 15px;

    .title {
      color: #3f3f3f;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 10px;

      @include media-breakpoint-down(xs) {
        font-size: 26px;
      }
    }

    .subTitle {
      color: #aeaeae;
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 20px;
      line-height: 24px;
			max-width: 280px;
			margin-left: auto;
			margin-right: auto;

      b {
        color: #3f3f3f;
      }
    }

    .imgWrap {
      position: relative;
      margin-bottom: 20px;

      svg, img {
        width: 140px;
        height: 140px;
      }
    }
  }

  .button {
    @include button-size(20px, 13px, 12px, 12px, 4px);
    @include button-variant(#fff, $brandRed, $brandRed);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.35);
		min-width: 180px;

    &:disabled, &.disabled {
      @include button-variant(#b4b4b4, #f5f5f5, #e9e9e9);
    }

    @include media-breakpoint-down(xs) {
      font-size: 16px;
    }
  }
}

.modalFooter {
  background-color: #f5f5f5;
  text-align: center;
  color: #aeaeae;
  font-weight: 300;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 10px 5px;
  border-top: none;

  .footerText {
    font-weight: 400;
    font-size: 14px;
    color: #aeaeae;
    margin-bottom: 15px;
    display: block;
    text-align: center;
  }

  form {
    margin: 0 auto 15px;
    display: table;
    max-width: 290px;
    width: 100%;

    >* {
      display: table-cell;
      vertical-align: middle;
    }

    .fieldWrap {
      position: relative;
      width: 100%;

      svg {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        fill: #e5e5e5;
        z-index: 1;
      }

      input {
        padding-left: 35px;
        border: 1px solid #ccc;
        border-right: 0;
        height: 40px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
        font-size: 14px;
        font-weight: 400;
        color: transparentize(#464646, .4);
        @include placeholderColor(transparentize(#464646, .6));
      }
    }

    .submitBtn {
      @include btn;
      @include button-variant(#fff, $brandRed, $brandRed);
      box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.35);
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      height: 40px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 5px 15px;
    }


    button {
      @include button-size(16px, 16px, 12px, 12px, 6px);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      @include button-variant(#fff, $brandRed, $brandRed);
      box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.35);
    }
  }

  .backBtn {
    @include link-variant(#bcbcbc, #ccc);

    >* {
      display: inline-block;
      line-height: 20px;
      vertical-align: middle;
    }

    &:hover, &:focus {
      svg {
        fill: #ccc;
      }
    }

    svg {
      width: 14px;
      height: 14px;
      margin-left: 5px;
      fill: #bcbcbc;
    }
  }
}
