@import "../../../styles/base";

.wayWrap {
  position: relative;
  margin-top: 22px;
  margin-bottom: 22px;
  flex: 1;
  align-items: center;
  z-index: 0;
  height: 1px;
  background-color: #979797;

  display: flex;
  justify-content: space-between;

  div {
    z-index: 1;
    background-color: #fff;
  }

  .circleLg {
    position: relative;
    border: 8px solid #fff;
    background-color: #a8a8a8;
    border-radius: 50%;
    width: 24px;
    height: 24px;

    &:hover {
      background-color: $brandGreen;
    }

    &:first-child {
      left: -8px;
    }

    &:last-child {
      right: -8px;
    }
  }

  .circle {
    width: 6px;
    height: 6px;
    border: 1px solid #133c55;
    background-color: #fff;
    border-radius: 100%;
  }

  .wayTooltip {
    background-color: black;
  }
}
