@import "../../../styles/base";

.wayDirection {
  text-align: left;
  margin-bottom: 15px;
  color: #9b9b9b;
  font-size: 14px;
  font-weight: 300;


  @include media-breakpoint-up(md) {
    display: none;
  }
}

.compact {
  .wayDirection {
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}
