.baggageComponentWrapper {
  color: #4d5562;
  font-size: 16px;
  font-weight: 500;

  .smallerText {
    font-size: 13px;
  }

  i {
    margin: 0 5px;
  }

  .baggageForFlight {
    border: 2px solid #e0e0e0;
    padding: 10px;
    border-radius: 5px;
  }

  .baggageOption {
    margin: 0 30px;
    padding: 10px;
    background-color: #e0e0e0;
    border: 2px solid #e0e0e0;
    border-radius: 0 0 5px 5px;
  }
}
