@import "../../styles/base";

.messageText {
  position: relative;
  padding-left: 60px;
  text-align: left;

  color: $brandGrayLighter;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  .iconWrap {
    @include inline-flex();
    @include position(absolute, top 50% left 0);
    transform: translateY(-50%);

    svg {
      width: 35px;
      height: 35px;
    }
  }
}

:global {
  .joyride-tooltip {
    max-width: 360px;
  }
  .joyride-tooltip__header {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $brandGreenDark;
    padding-bottom: 5px;
    border-bottom: 1px solid $brandGrayMercury;
    text-align: left;
  }
  .joyride-tooltip__close {
    width: 10px;
    height: 10px;
  }
  .joyride-tooltip__main {
    padding: 5px 0 10px !important;
  }
  .joyride-tooltip__footer {
    text-align: right;
  }
  .joyride-tooltip__button {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: $brandGrayLighter;
    min-height: 35px;
  }
  .joyride-tooltip__button--primary {
    @include button-size(10px, 20px, 14px, 14px, 5px);
    @include button-variant(#fff, $brandBlueLight, $brandBlueLight);
    @include hover {
      @include button-variant(#fff, $brandGreenDark, $brandGreenDark);
    }
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(19, 60, 85, 0.2);
    font-weight: 400;
    min-width: 125px;
  }
  .joyride-tooltip__button--secondary {
    margin-right: 15px;
  }
}
