@import "../../../../styles/base";

.form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.newsletterForm {
  margin: 0 auto;
  display: table;
  max-width: 450px;
  width: 100%;

  >* {
    display: table-cell;
    vertical-align: middle;
  }

  .fieldWrap {
    position: relative;
    width: 100%;

    svg {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      fill: #e5e5e5;
      z-index: 1;
    }

    input {
      padding-left: 40px;
      border: 1px solid #ccc;
      border-right: 0;
      height: 50px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
      font-size: 14px;
      font-weight: 400;
      color: transparentize(#464646, .4);
      @include placeholderColor(transparentize(#464646, .6));
    }
  }

  .submitBtn {
    @include btn;
    @include button-variant(#fff, $brandRed, $brandRed);
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
