@import "../../../../styles/base";

@include titles;

.newsletterSection {
	padding-left: 15px;
	padding-right: 15px;

	@include media-breakpoint-up(md) {
		padding-top: 70px;
		padding-bottom: 90px;
	}

	@include media-breakpoint-down(sm) {
		padding-top: 50px;
		padding-bottom: 40px;
	}

	.subtitle {
		color: $brandRed;
	}

	.titleXl {
		color: $brandRed;
		margin-bottom: 40px;
	}

	.smalltitle {
		color: #464646;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
	}
}
