@import "../../../styles/base";

.TermsConditions {
  @include media-breakpoint-up(md) {
    padding-top: 80px;
    padding-bottom: 130px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 30px;
    padding-bottom: 80px;
  }

  @include media-breakpoint-down(xs) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .pageTitle {
    color: $brandGrayStandard;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 75px;
    }

    @include media-breakpoint-between(sm, md) {
      margin-bottom: 50px;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 30px;
    }
  }

  .navbar {
    max-width: 200px;
    margin-bottom: 40px;

    :global {
      li {

        a {
          @include link-variant(#5b5b5b);
          font-size: 14px;
          line-height: 26px;
          padding: 3px 0;
        }

        &.active {
          a {
            @include link-variant(#f04b5e);
          }
        }

        &, &.active {
          a {
            &, &:hover, &:focus, &:active {
              background-color: transparent !important;
            }
          }
        }
      }
    }
  }

  .article {

    .articleTitle, .articleSubtitle {
      color: $brandGrayStandard;
      font-weight: 700;
      position: relative;
      margin: 0;
    }

    .articleTitle {

      @include media-breakpoint-up(lg) {
        padding-bottom: 60px;
        font-size: 30px;
      }

      @include media-breakpoint-between(sm, md) {
        padding-bottom: 40px;
        font-size: 28px;
      }

      @include media-breakpoint-down(xs) {
        padding-bottom: 30px;
        font-size: 25px;
      }

      &:after {
        position: absolute;
        content: '';
        left: 0;
        width: 60px;
        height: 1px;
        background-color: #e1e1e1;

        @include media-breakpoint-up(lg) {
          bottom: 30px;
        }

        @include media-breakpoint-between(sm, md) {
          bottom: 20px;
        }

        @include media-breakpoint-down(xs) {
          bottom: 15px;
        }
      }
    }

    .articleSubtitle {
      text-transform: capitalize;

      @include media-breakpoint-up(lg) {
        padding-bottom: 40px;
        font-size: 26px;
      }

      @include media-breakpoint-between(sm, md) {
        padding-bottom: 30px;
        font-size: 24px;
      }

      @include media-breakpoint-down(xs) {
        padding-bottom: 20px;
        font-size: 22px;
      }
    }

    .paragraphStandard, .paragraphTitle {
      font-size: 14px;
      line-height: 24px;
      color: #5b5b5b;
    }

    .paragraphTitle {
      font-weight: 700;
      margin-bottom: 0;
    }

    .paragraphStandard {
      margin-bottom: 35px;
    }

  }

  .link {
    @include link-variant(#1cadea);
  }

  .imageWrap {
    text-align: center;
    margin-bottom: 35px;

    .image {
      img {
        width: 100%;
        max-width: 420px;
        margin: 0 auto 30px;
      }
    }

    .imageDescription {
      color: #c6c6c6;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  .articleInfo {
    color: #c8c8c8;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }

  .listUnstyled {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
}
