@import "../../../styles/base";

.tripDisplayWrap {
  position: relative;
  padding: 30px 30px 10px;

  @include media-breakpoint-up(sm) {
    flex: 1 1 70%;
  }

  &.withReturn {
    @include media-breakpoint-up(sm) {
      flex: 1 1 35%;
    }
  }

  @include media-breakpoint-down(xs) {
    display: none;
  }


  &.compact {
    .tripDisplay {
      .head {
        margin-bottom: 0;

        .way {
          display: none;
        }

        .carrier {
          float: none;

          img {
            height: 20px
          }
        }
      }
      .tripWrap {
        margin-bottom: 0;
      }
    }
  }

  .tripDisplay {

    .head {
      margin-bottom: 5px;
      @include clearfix;

      > * {
        min-width: 0;
        display: inline-block;
        line-height: 20px;
        vertical-align: middle;
      }

      .way {
        float: left;
        color: #31393c;
        font-size: 14px;
        font-weight: 300;

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }

      .carrier {
        @include media-breakpoint-up(md) {
          float: right;
        }

        color: #9b9b9b;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
        vertical-align: middle;
        float: none;
        text-align: left;
        display: block;

        img {
          height: 20px;
          max-width: 100px;
          margin-right: 10px;
        }
      }
    }

    .flight {
      display: flex;

      > * {
        min-width: 0;
        flex: 1 0 33%;
      }

      @include media-breakpoint-down(xs) {
        text-align: center;
      }

      .departTime {
        text-align: left;
      }

      .arriveTime {
        text-align: right;
      }

      .time, .city, .date {
        display: block;
      }

      .city {
        @include media-breakpoint-up(md) {
          .airportCode {
            display: none;
          }
        }

        @include media-breakpoint-down(sm) {
          .airportCity {
            display: none;
          }
        }

        &.compact {
          .airportCity {
            display: none;
          }

          .airportCode {
            display: block;
          }
        }
      }

      .time {
        color: #133c55;
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;
      }

      .date, .city {
        color: #31393c;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;

        .point {
          position: relative;
          color: #ff001f;
          font-weight: 700;
          font-size: 10px;
          top: -5px;
        }
      }
    }

  }

  &.mainInfo {
    min-height: 170px;
    padding-bottom: 25px;
  }

  .divider {
    display: none;
  }
}

.expandDescriptionWrap {
  position: relative;
  border-top: 2px solid #f4f4f4;
  padding: 30px 30px 10px;

  .divider {
    display: none;
  }
}
