.loadingOverlay {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparentize(#000, .5);

	.spinner {
		position: absolute;
		left: 50%;
		top: 42%;
		transform: translate(-50%, -50%);

		svg {
			width: 150px;
			height: 150px;
		}
	}

	.checkoutLabel {
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -55%);
		text-align: center;
		color: #fff;
		font-size: 18px;
	}

  .loader {
    margin-bottom: 10px;
  }

  .overlayLabel {
    width: 200px;
    text-align: center;
    color: #fff;
  }
}

.logo {
	margin: 10px auto;
	width: 150px;
}

.logo {
	margin: 10px auto;
	width: 150px;
}

.contentWrap {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.iconWrap {
	text-align: center;

	svg {
		width: 100px;
		height: 100px;
	}
}
