@import "../../../styles/base";

.modal {

  .closeModalBtn {
    @include media-breakpoint-up(sm) {
      display: none;
    }

    @include media-breakpoint-down(xs) {
      @include modal-close-btn;
    }
  }

  :global {
    .modal-dialog {
      @include media-breakpoint-down(xs) {
        width: 100%;
        max-width: 480px;
        margin: 0;

        .modal-content {
          border-radius: 0;
        }
      }
    }
  }

  .loginForm {
    margin-bottom: 5px;

    .otherOptionsWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      margin-bottom: 50px;

      > * {
        min-width: 0;
      }

      .rememberBtn {
        color: $fields-color;
        font-size: 13px;
      }

      .forgotBtn {
        @include button-variant($brandGrayStandard, transparent, transparent);
        @include button-size(0, 0, 13px, 20px, 0);
        font-weight: 300;
        vertical-align: middle;
      }
    }
  }

  .modalBody {
    max-width: 300px;
    margin: 0 auto;
    padding: 40px 10px 10px;

    @include media-breakpoint-down(xs) {
      padding: 60px 10px 10px;
    }
  }

  .formGroup {
    margin-bottom: 20px;
  }

  .inputField {
    @include inputCustomStyle;
  }

  .facebookBtn {
    @include button-variant(#fff, #3b5998, #3b5998);
    @include button-size(0, 0, 16px, 16px, 6px);
    @include borderedBtn(#3b5998);
    height: 60px;
    margin-bottom: 40px;
  }

  .signInBtn {
    @include button-variant(#fff, #f14c5e, #f14c5e);
    @include button-size(0, 0, 16px, 16px, 6px);
    @include borderedBtn(#c52133);
    height: 60px;
    margin-bottom: 5px;
  }

  .signUpBtn {
    @include button-variant(#bcbcbc, transparent, transparent);
    @include button-size(0, 0, 14px, 14px, 6px);
    width: 100%;
    height: 60px;
    letter-spacing: 1px;

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      width: 14px;
      height: 14px;
      fill: #bcbcbc;
      margin-left: 3px;
    }
  }

  .divider {
    @include divider;
    margin-bottom: 40px;
  }

  .loadingOverlay {
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize(#000, .5);

    > div {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 100px;
      height: 100px;

      > div {
        margin: 0 auto;
      }
    }
  }

  .welcomeBackWrap {
    text-align: center;

    h1 {
      margin-bottom: 20px;
    }

    .welcomeBackContent {
      margin-bottom: 30px;
      line-height: 20px;
      color: #bcbcbc;
      font-size: 14px;
    }
  }
}
