@mixin modal-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 35px;
  height: 35px;

  svg {
    position: absolute;
    right: 0;
    top: 0;
    width: 13px;
    height: 13px;
    fill: $brandRed;
  }
}

@mixin resetBtn {
  @include link-variant($brandBlueLight);
  display: inline-block;
  background-color: #fff;
  font-size: 10px;
  font-weight: 400;
}

@mixin submitButton {
  @include button-variant(#fff, #26b999, #26b999);
  @include button-size(10px, 10px, 14px, 14px, 6px);
  width: 100%;
}
