$container-max-widths: (
  sm: 768px,
  md: 990px,
  lg: 1200px
);

$grid-columns: 12;
$grid-gutter-width: 30px;

$spacer: 1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  base: (
    x: $spacer-x,
    y: $spacer-y
  ),
  xs: (
    x: ($spacer-x * 0.25),
    y: ($spacer-y * 0.25)
  ),
  sm: (
    x: ($spacer-x * 0.75),
    y: ($spacer-y * 0.75)
  ),
  md: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  lg: (
    x: ($spacer-x * 2),
    y: ($spacer-y * 2)
  ),
  xl: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  ),
  xxl: (
    x: ($spacer-x * 4),
    y: ($spacer-y * 4)
  )
);

@mixin center() {
  margin-left: auto;
  margin-right: auto;
}

@mixin align($cross: false, $main: false, $direction: false) {
  @if $direction {
    flex-direction: $direction;
  }
  @if $cross {
    align-items: $cross;
  }
  @if $main {
    justify-content: $main;
  }
}

@mixin containerF($gutter: $grid-gutter-width, $fluid: false, $max-widths: $container-max-widths) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
  @include center();

  >* {
    min-width: 0;
  }

  @if not $fluid {
    @each $breakpoint, $container-max-width in $max-widths {
      @include media-breakpoint-up($breakpoint) {
        max-width: $container-max-width;
      }
    }
  }
}

@mixin colF($size: $grid-columns, $columns: $grid-columns, $gutter: $grid-gutter-width, $align: none, $offset: 0) {
  $ratios: ($size / $columns);
  $cycle: floor($columns / $size);

  //display: inline-flex;
  //flex-wrap: wrap;
  width: percentage($ratios);
  min-width: 0; // FF adjustment for responsive images
  align-self: $align;

  >* {
    min-width: 0;
  }

  @if $offset > 0 {
    margin-left: percentage($offset / $columns);
  }

  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);

  &:first-child,
  &:nth-of-type(#{($cycle + 1)}n) {
    padding-left: 0;
  }

  &:first-child:last-child,
  &:nth-of-type(#{($cycle)}n) {
    padding-right: 0;
  }
}

@mixin spacing($property: margin, $side: all, $size: base) {
  $spacer: map-get($spacers, $size);

  $size-x: map-get($spacer, x);
  $size-y: map-get($spacer, y);

  @if $side == all {
    #{$property}: $size-x;
  } @else if $side == top {
    #{$property}-top: $size-y;
  } @else if $side == right {
    #{$property}-right: $size-x;
  } @else if $side == bottom {
    #{$property}-bottom: $size-y;
  } @else if $side == left {
    #{$property}-left: $size-x;
  } @else if $side == x {
    #{$property}-right: $size-x;
    #{$property}-left: $size-x;
  } @else if $side == y {
    #{$property}-top: $size-y;
    #{$property}-bottom: $size-y;
  }
}

@mixin margin($side: all, $size: base) {
  @include spacing(margin, $side, $size)
}

@mixin padding($side: all, $size: base) {
  @include spacing(padding, $side, $size)
}

@mixin center-v {
  display: flex;
  align-items: center;

  >* {
    min-width: 0;
  }
}

//@mixin flex {
//  display: flex;
//
//  > * {
//    min-width: 0;
//  }
//}