@import "clearfix";
@import "../variables";

//@mixin container-fixed($gutter: $gutter) {
//  margin-right: auto;
//  margin-left: auto;
//  padding-left: floor(($gutter / 2));
//  padding-right: ceil(($gutter / 2));
//  @include clearfix;
//}
//
//@mixin container {
//  @include container-fixed;
//
//  @media (min-width: $screen-sm-min) {
//    width: $container-sm;
//  }
//  @media (min-width: $screen-md-min) {
//    width: $container-md;
//  }
//  @media (min-width: $screen-lg-min) {
//    width: $container-lg;
//  }
//}
//
// //Column
//@mixin col($col, $sum, $gutter: $gutter) {
//  width: percentage($col/$sum);
//  padding: 0 $gutter / 2;
//  float: left;
//  @include clearfix;
//}
//