@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../variables";
@import "common";
@import "flex";
@import "typo";
@import "forms";
@import "buttons";
@import "skeleton";

$form-lg-height: 50px;
$form-sm-height: 40px;
$form-lg-font-size: 16px;
$form-sm-font-size: 16px;
$form-color: $brandGrayCarbon;

@mixin btn {
	display: inline-block;
	font-weight: $btn-font-weight;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: 1px solid transparent;
	transition: all .3s ease;

	&,
	&:active,
	&.active {
		&:focus,
		&.focus {
			outline: 5px auto -webkit-focus-ring-color;
			outline-offset: -2px;
		}
	}

	&:hover, &:focus {
		text-decoration: none;
	}

	&.focus {
		text-decoration: none;
	}

	&:active,
	&.active {
		background-image: none;
		outline: 0;
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	}

	&.disabled,
	&:disabled {
		cursor: $cursor-disabled;
		box-shadow: none;
	}
}

// Boostrap v4 Outline button styles
@mixin button-outline-variant($color) {
	@include btn;

	color: $color;
	background-image: none;
	background-color: transparent;
	border-color: $color;

	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active,
	.open > .btn.dropdown-toggle {
		color: #fff;
		background-color: $color;
		border-color: $color;
	}

	&.disabled,
	&:disabled {
		&:hover,
		&:focus,
		&.focus {
			border-color: lighten($color, 20%);
		}
	}
}

/* To create links */
@mixin link-variant($color, $hover-color: false, $hover-decoration: false, $cursor: pointer) {
	color: $color;
	text-decoration: none;
	cursor: $cursor;

	&:hover, &:focus {
		cursor: $cursor;
		text-decoration: none;

		@if $hover-decoration {
			text-decoration: underline;
		}

		@if $hover-color {
			color: $hover-color;
		} @else {
			color: darken($color, 10%);
		}
	}
}

// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border) {
	@include btn;
	color: $color;
	background-color: $background;
	border-color: $border;

	&:focus,
	&.focus {
		color: $color;
		background-color: darken($background, 10%);
		border-color: darken($border, 25%);
	}
	&:hover {
		color: $color;
		background-color: darken($background, 10%);
		border-color: darken($border, 12%);
	}
	&:active,
	&.active,
	.open > .btn.dropdown-toggle {
		color: $color;
		background-color: darken($background, 10%);
		border-color: darken($border, 12%);

		&:hover,
		&:focus,
		&.focus {
			color: $color;
			background-color: darken($background, 17%);
			border-color: darken($border, 25%);
		}
	}
	&:active,
	&.active,
	.open > .btn.dropdown-toggle {
		background-image: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&:hover,
		&:focus,
		&.focus {
			background-color: $background;
			border-color: $border;
		}
	}

	.badge {
		color: $background;
		background-color: $color;
	}
}

@mixin divider {
	text-align: center;
	position: relative;
	overflow: hidden;
	text-transform: lowercase;

	span {
		position: relative;
		z-index: 2;
		padding: 10px;
		color: #cfcfcf;
		background-color: transparent;
		font-size: 14px;
		display: inline-block;
		font-weight: 300;

		&:after, &:before {
			content: '';
			position: absolute;
			background-color: #e6e6e6;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
			height: 2px;
			width: 1000px;
		}

		&:after {
			right: 100%;
		}

		&:before {
			left: 100%;
		}
	}

}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
	padding: $padding-vertical $padding-horizontal;
	font-size: $font-size;
	line-height: $line-height;
	border-radius: $border-radius;
}

@mixin resetAutocompliteStyles {
	/* Change autocomplete styles in WebKit */
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus
	input:-webkit-autofill,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		border: none;
		text-fill-color: auto;
		box-shadow: 0 0 0px 1000px #000 inset;
		transition: background-color 5000s ease-in-out 0s;
	}
}

// Customize React Select - it's difficult to customize it, so we need use 'important' and common tags as selectors
@mixin select(
	$height: $input-height,
  $border-width: $input-border-width,
  $border-color: $input-border-color,
  $placeholder-color: null,
  $placeholder-font-size: null,
  $placeholder-font-weight: null,
  $width: 100%
) {
	height: $height;

	// Select-control
	:global {
		.Select.error-valid {
			.Select-control {
				border-color: $brandRed;
			}
		}

		.Select-control {
			box-shadow: none !important;
			border-width: $border-width;
			border-style: solid;
			border-color: $border-color !important;

			> span > div {
				color: $placeholder-color;
				font-size: $placeholder-font-size;
				font-weight: $placeholder-font-weight;
				line-height: $height - $border-width * 2 !important;
				border: none;

				// Select-placeholder
				&:first-child {
					line-height: $height - $border-width * 2;
				}

				// Select-input
				&:last-child {
					height: $height - $border-width * 2;
					width: 100%;
				}
			}

			// Select-menu
			&:last-child > div {
				max-height: 200px - $border-width * 2 !important;
			}
		}

		.Select-menu-outer {
			width: $width;
      max-height: 220px;

			@include media-breakpoint-down(xs) {
				width: 100%;
			}
		}
	}

	input {
		box-shadow: none;
		width: 100% !important;
		height: $height - $border-width * 2;
		padding: 0;
	}

	input[disabled] + div {
		cursor: no-drop;
	}
}

@mixin customSelect($size: lg) {

	* {
		box-sizing: border-box !important;
	}

	@if $size == lg {
		height: $form-lg-height;
		line-height: $form-lg-height;
		font-size: $form-lg-font-size;

		:global {
			.Select-control {
				box-shadow: none !important;
				border: 0;
				border-radius: 0;
				padding: 0 8px 0 20px;
				height: $form-lg-height - 3px !important;
				line-height: $form-lg-height - 3px !important;
				font-size: $form-lg-font-size !important;

				.Select-multi-value-wrapper,
				.Select-placeholder,
				.Select-placeholder span,
				.Select-value,
				.Select-value .Select-value-label {
					line-height: $form-lg-height - 3px !important;
					height: $form-lg-height - 3px !important;
					top: 2px;
				}

				.Select-value, .Select-placeholder {
					padding-left: 20px;
				}

				> span > div {
					color: #999;
					//font-size: $placeholder-font-size;
					font-weight: 300;
					line-height: $form-lg-height;

					// Select-placeholder
					&:first-child {
						line-height: $form-lg-height !important;
					}

					// Select-input
					&:last-child {
						&, input {
							height: $form-lg-height !important;
							width: 100%;
							position: relative;
							top: 1px;
						}
					}
				}

				//Select-menu

				&:last-child > div {
					max-height: 200px - 3px !important;
				}
			}
		}
	}

	@if $size == sm {
		height: $form-sm-height;
		line-height: $form-sm-height;
		font-size: $form-sm-font-size;

		border: none;
		border-radius: 0;

		:global {
			.Select-control {
				box-shadow: none !important;
				border: 0;
				border-radius: 0;
				padding: 0 8px;
				height: $form-sm-height - 3px !important;
				line-height: $form-sm-height - 3px !important;
				font-size: $form-sm-font-size !important;

				.Select-clear-zone {
					display: none;
					.Select-clear {
						vertical-align: middle;
						font-weight: 300;
					}
				}

				.Select-multi-value-wrapper,
				.Select-placeholder,
				.Select-placeholder span,
				.Select-value,
				.Select-value .Select-value-label {
					line-height: $form-sm-height - 3px !important;
					height: $form-sm-height - 3px !important;
					font-weight: 400;
					top: 2px;

					div {
						overflow: hidden;
						text-overflow: ellipsis;
					}

					img {
						position: relative;
						top: -3px;
					}
				}

				> span > div {
					color: #999;
					//font-size: $placeholder-font-size;
					font-weight: 300;
					line-height: $form-sm-height;

					// Select-placeholder
					&:first-child {
						line-height: $form-sm-height;
					}

					// Select-input
					&:last-child {
						height: $form-sm-height;
						width: 100%;
					}
				}

				//Select-menu

				&:last-child > div {
					max-height: 200px - 3px !important;
				}
			}
		}
	}

	:global {

		.Select.error-valid {
			.Select-control {
				border-color: $brandRed;
			}
		}

		.Select-control {
			border: 1px solid #ccc;
			border-radius: 3px;
			transition: all .3s ease;
			background-color: transparent !important;
			padding-right: 0;

			.Select-multi-value-wrapper {
				.Select-placeholder {
					color: #ccc;
				}
			}

			.Select-multi-value-wrapper, .Select-placeholder, .Select-placeholder span {
				display: block;
			}

			.Select-value {
				.Select-value-label {
					color: $form-color !important;
				}
			}

			.Select-input {
				padding: 0;
			}

			.Select-arrow-zone {
				position: relative;
				padding-right: 0;
				width: 40px;
				border-left: 1px solid #ccc;

				&:after {
					@include pseudo();
					@include position(absolute, top 50% left 50%);
					transform: translate(-50%, -50%) rotate(90deg);
					transition: all .3s linear;

					width: 10px;
					height: 10px;

					background-image: url(../../static/images/landing/searchField/arrow-down.png);
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
				}

				.Select-arrow {
					display: none;
				}
			}

			&:focus, &:hover {
				border-color: $brandGrayLight !important;
				background-color: transparent !important;
			}
		}

		.Select-menu-outer {
      position: absolute;
      left: -40px;
			border: none;
			box-shadow: 0 8px 15px 5px rgba(0, 0, 0, 0.15);
			z-index: 15;

			&::-webkit-scrollbar {
				display: none;
			}

			.Select-menu {
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				text-align: left;
				font-weight: 300;
				max-height: inherit;

				.Select-option {
					padding: 10px;
					line-height: 20px;
					font-size: 16px;
					font-weight: 400;
					color: $brandGrayCarbon;

					&:hover, &:focus, .is-focused {
						background-color: $gray-lighter;
					}
				}
			}
		}
	}
}

@mixin placeholderColor($placeholderColor) {
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $placeholderColor;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		color: $placeholderColor;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		color: $placeholderColor;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: $placeholderColor;
	}
}

// Input
@mixin input($hover-color: null, $height: $input-height, $border-width: $input-border-width, $border-color: $input-border-color) {
	border: $border-width solid $border-color;
	height: $height;

	&:not([disabled]) {
		&:hover, &:focus, &:active {
			background-color: $hover-color;
			box-shadow: none;
		}
	}
}

@mixin inputCustomStyle($size: lg) {
	background-color: transparent !important;

	@if $size == lg {
		height: $form-lg-height;
		line-height: $form-lg-height;
		font-size: $form-lg-font-size;
		padding: 0 20px;
	}

	@if $size == sm {
		height: $form-sm-height;
		line-height: $form-sm-height;
		font-size: $form-sm-font-size;
		padding: 0 10px;

		@include media-breakpoint-up(sm) {
			min-width: 320px;
		}
		@include media-breakpoint-down(xs) {
			min-width: 100%;
		}

	}

	color: $form-color;
	border-radius: 3px;
	box-shadow: none;
	font-weight: 400;

	&.hasError {
		border-color: $brandRed;
	}

	&:disabled,
	&.disabled,
	&[disabled],
	&[readonly] {
		background-color: transparent;
		opacity: .7; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
	}

	@include placeholderColor(#cccccc);

	@include hover-focus-active {
		&, &:hover {
			outline: none;
		}
	}
}

@mixin borderedBtn($borderColor) {
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-shadow: 0 2px 1px rgba(13, 146, 119, 0.35);
	box-shadow: 0 0 0 1px $borderColor !important;
	width: 100%;
	border: 1px solid #fff;

	&:hover, &:focus {
		box-shadow: 0 0 0 1px $borderColor !important;
	}

	&:disabled, &.disabled {
		opacity: .3;
	}
}

@mixin dashboardPageWrapStyle {
	height: 100%;

	@include media-breakpoint-up(sm) {
		padding-bottom: 160px;
	}
	@include media-breakpoint-only(xs) {
		padding-bottom: 80px;
	}
}

@mixin custom-button {
	@include btn;
	@include button-variant(#fff, #299def, #299def);
	box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(19, 60, 85, 0.2);
	max-width: 100%;
	font-weight: 700;
	border: none;
	text-transform: none;

	@include hover-focus-active {
		background-color: #133c55;
		border-color: #133c55;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09);
	}

	&:disabled, &.disabled {
		background-color: #9ed7ff !important;
		border-color: #9ed7ff !important;
		box-shadow: none;
	}
}

@mixin custom-button-verify {
  @include btn;
  @include button-variant(#fff, #216e93, #216e93);
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(19, 60, 85, 0.2);
  max-width: 100%;
  font-weight: 700;
  border: none;
  text-transform: none;

  @include hover-focus-active {
    background-color: #216e93;
    border-color: #216e93;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09);
  }

  &:disabled, &.disabled {
    background-color: #3f90b9 !important;
    border-color: #3f90b9 !important;
    box-shadow: none;
  }
}

@mixin custom-button-promo {
  @include btn;
  @include button-variant(#8b8b8b, #f7f7f7, #ccc);
  max-width: 100%;
  font-weight: 700;
  border: none;
  text-transform: none;

  @include hover-focus-active {
    background-color: darken(#f7f7f7, 5%);
    border-color: #bdbdbd;
  }

  &:disabled, &.disabled {
    background-color: #dfdfe2 !important;
    border-color: #dfdfe2 !important;
    box-shadow: none;
  }
}

@mixin custom-button-green {
	@include btn;
	@include button-variant(#fff, #00ebbf, #00ba97);
	box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(19, 60, 85, 0.2);
	max-width: 100%;
	font-weight: 700;
	border: none;
	text-transform: none;
}

@mixin button-lg {
	@include media-breakpoint-up(md) {
		@include button-size(20px, 10px, 14px, 14px, 5px);
	}
	@include media-breakpoint-down(sm) {
		@include button-size(18px, 10px, 14px, 14px, 5px);
	}
}
