@mixin skeletonWrap {
  .skeletonElement {
    display: block;
    background-color: transparentize(#dfe2ea, .5);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .buttonElement {
    height: 60px;
    border-radius: 6px;
    margin-bottom: 20px;

    &.btnBlue {
      background-color: transparentize(#3fa9fb, .5);
    }

    &.btnRed {
      background-color: transparentize($brandRed, .5);
    }
  }

  .fieldElement {
    height: 60px;
    margin-bottom: 20px;
    border-bottom: 3px solid #dfe2ea;
  }

  .textElement {
    display: inline-block;
    height: 20px;
    border-radius: 10px;
    max-width: 100%;

    &.shortText {
      width: 140px;
    }
  }

  .titleElement {
    display: inline-block;
    height: 30px;
    border-radius: 15px;
    max-width: 100%;
  }

  .dualElement {
    @include clearfix;
    background-color: transparent;

    span {
      display: block;
      height: 20px;
      border-radius: 10px;
      width: 45%;

      &:first-child {
        float: left;
      }

      &:last-child {
        float: right;
      }
    }
  }
}
