@mixin titles {
  .subtitle {
    margin-bottom: 20px;
    font-weight: 200;
    text-align: center;
    @include media-breakpoint-up(lg) {
      font-size: 35px;
    }
    @include media-breakpoint-only(md) {
      font-size: 32px;
    }
    @include media-breakpoint-only(sm) {
      font-size: 27px;
    }
    @include media-breakpoint-only(xs) {
      font-size: 22px;
    }
  }

  .titleXl {
    font-weight: 700;
    text-align: center;
    margin-top: 0;

    @include media-breakpoint-up(lg) {
      font-size: 70px;
    }

    @include media-breakpoint-only(md) {
      font-size: 60px;
    }

    @include media-breakpoint-only(sm) {
      font-size: 50px;
    }

    @include media-breakpoint-only(xs) {
      font-size: 36px;
      margin-bottom: 30px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
