@import "../../../styles/base";

.partWayDescriptionWrap {

  .airline {
    text-align: left;
    margin-bottom: 15px;
		padding-left: 75px;
    font-size: 12px;
    font-weight: 300;
    color: #9b9b9b;

    @include media-breakpoint-down(xs) {
      margin-bottom: 10px;
    }

		>* {
			display: inline-block;
			line-height: 20px;
			vertical-align: middle;
		}

    .imageWrap {
      text-align: center;
      margin-right: 10px;
      width: 20px;
      display: inline-block;
    }

    img {
      height: auto !important;
			width: 20px;
			max-height: 100%;
    }
  }


  //I'll use it later

  //div[class*='Flight__flightWrap'] {
  //  position: relative;
  //  z-index: 0;
  //
  //  div[class*='Flight__time'] {
  //    position: relative;
  //    z-index: 1;
  //  }
  //}
  //
  //div[class*='Flight__flightWrap']:nth-child(2) {
  //  div[class*='Flight__time'] {
  //
  //    &:after {
  //      position: absolute;
  //      content: '';
  //      left: 50%;
  //      top: 5px;
  //      height: 1000px;
  //      width: 1px;
  //      transform: translateX(-50%);
  //      background-color: #eaeaea;
  //      z-index: 0;
  //    }
  //  }
  //}
}
