@import "../../../styles/base";

.modal {
    :global {
    .modal-dialog {
      @include media-breakpoint-down(xs) {
        width: 100%;
        max-width: 480px;
        margin: 0;

        .modal-content {
          border-radius: 0;
        }
      }
    }
  }

  .modalBody {
    max-width: 300px;
    margin: 0 auto;
    padding: 40px 10px 10px;

    @include media-breakpoint-down(xs) {
      padding: 60px 10px 10px;
    }
  }

  .skeletonWrap {
    padding-top: 10px;
    padding-bottom: 10px;

    @include skeletonWrap;
  }
}
