@import "../../../../styles/base";

.HowItWorksSection {
	position: relative;
	min-height: 150px;

	@include media-breakpoint-down(xs) {
		padding: 30px 0 20px;
	}

	.sectionTitle {
		font-size: 22px;
		font-weight: 300;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-align: center;
		margin: 0 0 30px;
		flex: 1 1 auto;
		width: 100%;

		@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
			font-weight: 200;
		}

		@include media-breakpoint-up(sm) {
			color: transparentize(#fff, .3);
		}

		@include media-breakpoint-down(xs) {
			color: #9b9b9b;
		}
	}

	.contentWrap {
		width: 100%;
		@include media-breakpoint-up(sm) {
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			z-index: 100;
		}
	}

	.sliderWrap {
		width: 100%;
		min-height: 240px;

		:global {
			.slick-track {
				display: flex;
				align-items: stretch;
			}
			.slick-dots {
				@include media-breakpoint-down(xs) {
					bottom: 35px;
				}

				li {
					border: 2px solid #ccc;
					background-color: #ccc;

					&.slick-active {
						background-color: $brandBlueLight;
						border-color: $brandBlueLight;
					}
				}
			}
		}
	}

	.slide {
		text-align: center;
		box-sizing: border-box;
		margin: 5px 0 25px;
		border: none !important;

		.slideContent {
			max-width: 255px;
			min-height: 230px;
			margin: 0 auto;
			padding: 25px 20px;
			box-shadow: 0 10px 30px rgba(44, 80, 89, 0.09);
			height: 100%;
			border-radius: 5px;
			background-color: #fff;

			@include media-breakpoint-down(xs) {
				padding-bottom: 40px;
			}
		}

		.image {
			margin-bottom: 15px;

			i {
				display: inline-flex;
				svg {
					height: 60px;
					width: 135px;
				}
			}
		}

		.title {
			font-size: 16px;
			font-weight: 400;
			color: $brandGreenDark;
			margin: 0 0 5px;
		}

		.description {
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;
			color: #9b9b9b;
			margin-bottom: 0;
		}
	}

	.container {
		@include container;
	}
	.col {
		@include col;
		flex-direction: column;
	}
}
